-#%iframe(onLoad="alert('iframe done');" id='upload_iframe' name='upload_iframe' border='0' width='0' height='0' style='width: 0px; height: 0px; border: none; display: none')
%iframe(onLoad="iframe_loaded(this);" id='upload_iframe' name='upload_iframe' style='display: none')
