%div.comment-form
  %p
    -#%i comment form from directive scope id: {{$id}}
  %form.convo(ng-submit="addComment()")
    %textarea(ng-model="newComment.text"){:placeholder => "Enter your comment..."}
    %input(ng-model="newComment.attachment_ids"){type: 'hidden'}
    %div(ng-repeat="att in newComment.attachments" )
      %p {{att.attachment_file_name}}

    %input(ng-model="newComment.id"){type: 'hidden', value: 'Add'}

    %p
      %input{type: 'submit', value: 'Add'}
      %a(ng-click="clear_form()")
        Clear

  %div(ce-attachment-form)