%div.comment
  -#%p scope id: {{$id}}
  %span(ng-bind-template="{{comment.first_name}} said \"{{comment.text}}\"")
  %a(ng-click="edit({{comment.id}})")
    Edit
  %span(ng-show="comment.version>1")
    Version {{comment.version}}
    %a(ng-click="view_history({{comment.id}})")
      View history

  %div.attachments
    %div(ng-repeat="attachment in comment.attachments" )
      %div.attachment
        %p
          %img(ng-src="{{attachment.icon_url}}")
          %a(ng-href="{{attachment.url}}"){target: "_blank"}
            {{attachment.attachment_file_name}}

  %div(ce-rating-slider)

  %div.clr(ng-include src="history_url")
  %p
    %a(ng-click="test()")
      Com Test
