%div.conversation
  %h3 {{question}}

  %h4 Rating slider
  %div(ce-user-bar)
  Rating: {{ rating }}
  %div.slider(ce-rating-slider)
    %span{style: "width: 50%;"}

  %div.summary
    %h4 Summary
    %div(ng-repeat="comment in SummaryComments" )
      %span(ng-bind-template="{{comment.first_name}} said \"{{comment.text}}\"")
      %a(ng-click="edit()")
        Edit

  %div.conversation
    %h4 Conversation
    %div(ng-repeat="comment in ConversationComments" )
      %span(ng-bind-template="{{comment.first_name}} said \"{{comment.text}}\"")
      %a(ng-click="edit({{comment.id}})")
        Edit
      %span(ng-show="comment.version>1")
        Version {{comment.version}}
        %a(ng-click="view_history({{comment.id}})")
          View history

    %form.convo(ng-submit="addComment()")
      %textarea(ng-model="newComment.text"){:placeholder => "Enter your comment..."}
      %input(ng-model="newComment.attachment_ids"){type: 'hidden'}
      %div(ng-repeat="att in newComment.attachments" )
        %p {{att.attachment_file_name}}

      %input(ng-model="newComment.id"){type: 'hidden', value: 'Add'}

      %p
        %input{type: 'submit', value: 'Add'}
        %a(ng-click="clear_form()")
          Clear

    %a(ng-click="toggle_attachment_form()")
      {{toggle_attachment_label}}
    %div(ng-include src="template_url")





  %a(ng-click="test()")
    Test

  %div.history
    %div(ng-repeat="diff in history" )
      %p
        Version {{diff.version}}:
        %span(ng-bind-html-unsafe="diff.html_diff")
      %p Created: {{diff.created_at}}