%div.conversation
  %h3 {{question}}

  %div.summary
    %h4 Summary
    %div(ng-repeat="comment in SummaryComments" )
      %span(ng-bind-template="{{comment.first_name}} said \"{{comment.text}}\"")
      %a(ng-click="edit()")
        Edit

  %div.conversation
    %h4 Conversation
    %div(ng-repeat="comment in ConversationComments" )
      %span(ng-bind-template="{{comment.first_name}} said \"{{comment.text}}\"")
      %a(ng-click="edit({{comment.id}})")
        Edit


    %form.convo(ng-submit="addComment()")
      %textarea(ng-model="newComment.text"){:placeholder => "Enter your comment..."}
      %input(ng-model="newComment.id"){type: 'hidden', value: 'Add'}

      %p
        %input{type: 'submit', value: 'Add'}
        %a(ng-click="clear_form()")
          Clear

  %a(ng-click="test()")
    Test