%div.conversation
  %div(ce-comment-form)

  .row-fluid
    .span12
      %h3 {{question}}

  .row-fluid
    .span12.summary
      %h4 Summary
      %div(ng-repeat="comment in SummaryComments" )
        %span(ng-bind-template="{{comment.first_name}} said \"{{comment.text}}\"")
        %a(ng-click="edit()")
          Edit

  .row-fluid
    .span12.conversation
      %h4 Conversation
      %div(ng-repeat="comment in ConversationComments" )
        %div(ce-comment)
