%div.conversation

  .row-fluid
    .span12.summary
      %h4 Summary
      %div.comment-outer(ng-repeat="comment in SummaryComments" )
        %div(ce-comment)

  .row-fluid
    .span8.offset2
      %h4 Summarize this conversation
      %div(ce-comment-form)


  .row-fluid
    .span12.conversation
      %h4 Conversation
      %div.comment-outer(ng-repeat="comment in ConversationComments" )
        %div(ce-comment)

  .row-fluid
    .span8.offset2

      %h4 What do you think?
      %div(ce-comment-form)