%div.conversation
  %h3 {{question}}

  %div.summary
    %h4 Summary
    %div(ng-repeat="comment in SummaryComments" )
      %span(ng-bind-template="{{comment.first_name}} said \"{{comment.text}}\"")
      %a(ng-click="edit()")
        Edit

  %div(ce-comment-form)

  %div.conversation
    %h4 Conversation
    %div(ng-repeat="comment in ConversationComments" )
      %div(ce-comment)
