%div
  %p(ng-show="user.id>0" )
    %img(ng-src="{{user.small_photo_url}}")
    Hello
    {{user.first_name}} {{user.last_name}}, {{user.email}} ({{$id}})
    %a(ng-href="" )
    %a(ng-click="sign_out()")
      Sign out
    %a(ng-click="edit_profile()")
      Edit profile

  %p(ng-hide="user.id>0" )
    Please
    %a(ng-click="sign_in()")
      Sign in
    or
    %a(ng-click="sign_up()")
      Sign up