%div
  .modal-header
    %h3 Sign up with CivicEvolution
  .modal-body{style: "max-height: 600px"}
    %div.alert.alert-error(ng-show="error_messages")
      %p.message Please review the problems below:

    %form(ng-submit="submit_sign_up(user)"){name: 'signUp'}

      %div.control-group(ng-class='{error: error_messages.first_name}')
        %label.first_name.required.control-label{for: "user_first_name"}
          First name:
        %input(ng-model='user.first_name' required ce-focus){type: 'text', placeholder: 'Enter first name...'}
        %span.help-inline
          {{error_messages.first_name.join('\n')}}

      %div.control-group(ng-class='{error: error_messages.last_name}')
        %label.last_name.required.control-label{for: "user_last_name"}
          Last name:
        %input(ng-model='user.last_name' required ){type: 'text', placeholder: 'Enter last name...'}
        %span.help-inline
          {{error_messages.last_name.join('\n')}}

      %div.control-group(ng-class='{error: error_messages.email}')
        %label.email.required.control-label{for: "user_email"}
          Email:
        %input(ng-model='user.email' required ){type: 'text', placeholder: 'Enter email...'}
        %span.help-inline
          {{error_messages.email.join(' and ')}}

      %div.control-group(ng-class='{error: error_messages.password}')
        %label.password.required.control-label{for: "user_password"}
          Password:
          %span.hint
            At least 8 characters long
        %input(ng-model='user.password' required ng-minlength='8'){type: 'text', placeholder: 'Enter password...'}
        %span.help-inline
          {{error_messages.password.join(' and ')}}

      %div.control-group(ng-class='{error: error_messages.password_confirmation}')
        %label.password_confirmation.required.control-label{for: "user_password_confirmation"}
          Confirm password:
        %input(ng-model='user.password_confirmation' required ng-minlength='8'){type: 'text', placeholder: 'Confirm your password...'}
        %span.help-inline
          {{error_messages.password_confirmation}}



      .modal-footer
        %button.btn.btn-primary(ng-disabled='!signUp.$valid') Sign in
        %button.btn.btn-primary(ng-click="cancel(result)") Cancel

  -#= render "devise/shared/links"
