%h3 This is state4 for user: {{user}}
%p Title from resolve: {{data.title}}
%p Weight from resolve: {{data.weight}}
%p Duration from resolve: {{data.duration}}
%p Height: {{data.height}}

%p Compiled at: #{Time.new} (v1)
