%div#notification-panel.panel
  #panel-notification.radio-options


    %h3.panel-title Notification options

    %fieldset
      %p.title Immediately send an email
      %p.clear
        %input.radio#r1(type="radio" ng-model="conversation.notification_request.immediate" value="mine")
        %label{for: "r1"} For every comment that mentions me or replies to my comments

      %p.clear
        %input.radio#r2(type="radio" ng-model="conversation.notification_request.immediate" value="every")
        %label{for: "r2"} For every comment

      %p.clear
        %input.radio#r3(type="radio" ng-model="conversation.notification_request.immediate" value="none")
        %label{for: "r3"} I don't want any immediate emails


    %fieldset
      %p.title Send a daily email
      %p.clear
        %input.radio#r4(type="checkbox" ng-model="conversation.notification_request.daily")
        %label{for: "r4"} Send me a daily email report of this conversation


    %fieldset
      %button.btn-primary.btn(ng-click="updateNotifications()" ng-bind-html-unsafe="form_submit_status"){type: 'submit'}
      %button.btn.btn-link(ng-click="close_panel()") Cancel