.iap2.agenda-home.custom
  %h4 {{agenda.title}}
  %div(ng-bind-html-unsafe="converter.makeHtml(agenda.description)")

  %div.warn(ng-if="agenda.test_mode")
    %h2 This agenda is in test mode

  %div(ng-switch="user.first_name")
    %div(ng-switch-when="undefined" )
      %p
        Select your role:
        %select(ng-model="agenda.active_role.role" ng-options="o.value as o.key for o in agenda.roles" ng-change="update_role()")
          %option(value="" disabled selected) Select your role

      %div(ng-switch="agenda.active_role.role" )
        %div(ng-switch-when="coordinator" )
          %p
            Coordinator
            Access code:
            %input.code(type="password" ng-model="agenda.active_role.access_code")
            %button.btn-primary.btn(ng-click="accept_role()") Start

        %div(ng-switch-when="themer" )
          %p
            Please enter Team #:
            %input.id(ng-model="agenda.active_role.identifier")
            and Access code:
            %input.code(type="password" ng-model="agenda.active_role.access_code")
            %button.btn-primary.btn(ng-click="accept_role()") Start

        %div(ng-switch-when="group" )
          %p
            Please enter Group #:
            %input.id(ng-model="agenda.active_role.identifier")
            and Access code:
            %input.code(type="password" ng-model="agenda.active_role.access_code")
            %button.btn-primary.btn(ng-click="accept_role()") Start

        %div(ng-switch-when="reporter" )
          %p
            Reporter
            Access code:
            %input.code(ng-model="agenda.active_role.access_code")
            %button.btn-primary.btn(ng-click="accept_role()") Start

    -#%div(ng-switch-default)
      %div(ng-switch="agenda.active_role.role" )
        %div(ng-switch-when="coordinator" )
          %p coordinator links

        %div(ng-switch-when="themer" )
          %p Theme team links

        %div(ng-switch-when="group" )
          %p Group scribe links

        %div(ng-switch-when="reporter" )
          %p Reporter links

      %a(ng-click="signout_role()") Sign out


    %hr

    %div.menu_group(ng-repeat="group in menu_groups" )

      %div(ng-repeat="link in group" )
        %h4{id: "{{link.link_code}}"}
          %a{href: "{{link.href}}"}
            {{link.title}}



    %hr
      %a(ng-click="signout_role()") Sign out
