.iap2.agenda-home.custom
  %h4 {{agenda.title}}
  %div(ng-bind-html-unsafe="converter.makeHtml(agenda.description)")

  %div.warn(ng-if="agenda.test_mode")
    %h2 This agenda is in test mode

  %div(ng-switch="user.first_name")
    %div(ng-switch-when="undefined" )
      %p
        Select your role:
        %select(ng-model="agenda.active_role.role" ng-options="o.value as o.key for o in agenda.roles" ng-change="update_role()")
          %option(value="" disabled selected) Select your role

      %div(ng-switch="agenda.active_role.role" )
        %div(ng-switch-when="coordinator" )
          %p
            Coordinator
            Access code:
            %input.code(type="password" ng-model="agenda.active_role.access_code")
            %button.btn-primary.btn(ng-click="accept_role()") Start

        %div(ng-switch-when="themer" )
          %p
            Please enter Team #:
            %input.id(ng-model="agenda.active_role.identifier")
            and Access code:
            %input.code(type="password" ng-model="agenda.active_role.access_code")
            %button.btn-primary.btn(ng-click="accept_role()") Start

        %div(ng-switch-when="group" )
          %p
            Please enter Group #:
            %input.id(ng-model="agenda.active_role.identifier")
            and Access code:
            %input.code(type="password" ng-model="agenda.active_role.access_code")
            %button.btn-primary.btn(ng-click="accept_role()") Start

        %div(ng-switch-when="reporter" )
          %p
            Reporter
            Access code:
            %input.code(ng-model="agenda.active_role.access_code")
            %button.btn-primary.btn(ng-click="accept_role()") Start

    -#%div(ng-switch-default)
      %div(ng-switch="agenda.active_role.role" )
        %div(ng-switch-when="coordinator" )
          %p coordinator links

        %div(ng-switch-when="themer" )
          %p Theme team links

        %div(ng-switch-when="group" )
          %p Group scribe links

        %div(ng-switch-when="reporter" )
          %p Reporter links

      %a(ng-click="signout_role()") Sign out


    %hr

    %div(ng-repeat="comp in agenda.menu_data" )
      %h4 {{comp.descriptive_name}}
      %div(ng-include="'/assets/live/menu/' + comp.menu_template + '.html'")

    %div(ng-if="user.first_name == 'Coordinator' || user.first_name == 'Reporter'")

      %p
        %a(href="/#/cmp/vd2o2kmch2/select-results/bpr8hkxrsw/what-do-you-want-to-keep-in-dattawadi")
          Display Prioritisation results: What do you want to keep in Dattawadi?
      %p
        %a(href="/#/cmp/vd2o2kmch2/select-results/mxe3lplge4/what-do-you-want-to-change-in-dattawadi")
          Display Prioritisation results: What do you want to change in Dattawadi?
      %p
        %a(href="/#/cmp/vd2o2kmch2/select-results/6gun3cifwf/what-are-hot-spots-in-dattawadi-that-you-think-curr")
          Display Prioritisation results: What are ‘hot spots’ in Dattawadi?

      %hr

      %b Reports
      %p
        %a(href="/#/cmp/hwqpv7alv3/allocate-worksheet/how-do-we-make-value-capture-work-in-india")
          Value capture prioritisation worksheet

      %p
        %a(href="/#/cmp/yvoah9heyj/allocate-worksheet/how-we-can-achieve-more-equitable-outcomes---consid")
          Equitable outcomes prioritisation worksheet

      %p
        %a(href="/#/agenda/f3zp7xglzp/participant-report/bangalore-sub-urban-rail-project-potential-for-inno")
          Participant report


    %hr
      %a(ng-click="signout_role()") Sign out

    -#%hr
      %p
        %a(href="/#/cmp/on0dc47axr/sgd/6ko91rkoem/xyz")
          Group Scribe click here to enter comments and ideas for questions 1 & 2
      %p
        %a(href="/#/cmp/atw06kwq2d/sgd_theme/what-could-we-do-differently-to-scale-up-to-address")
          Q1 Theme team 1
      %p
        %a(href="/#/cmp/ncux4g28f2/sgd_theme/what-could-we-do-differently-to-scale-up-to-address")
          Q1 Theme team 2
      %p
        %a(href="/#/cmp/r84dimztm3/sgd_theme/what-could-we-do-differently-to-scale-up-to-address")
          Q1 Theme team 3
      %p
        %a(href="/#/cmp/oli411olr0/sgd_theme/what-could-we-do-differently-to-scale-up-to-address")
          Q2 Theme team 1
      %p
        %a(href="/#/cmp/3y85w0s2e1/sgd_theme/what-could-we-do-differently-to-scale-up-to-address")
          Q2 Theme team 2
      %p
        %a(href="/#/cmp/ofjrdisvok/sgd_theme/what-could-we-do-differently-to-scale-up-to-address")
          Q2 Theme team 3
      %p
        %a(href="/#/cmp/euw7lt3fph/themes_theme/xyz")
          Q1 Coordinator
      %p
        %a(href="/#/cmp/u6s2brz7bj/themes_theme/xyz")
          Q2 Coordinator

      %p
        %a(href="/#/cmp/euw7lt3fph/theme-results/what-could-we-do-differently-to-scale-up-to-address")
          Q1 Essential themes
      %p
        %a(href="/#/cmp/u6s2brz7bj/theme-results/what-could-we-do-differently-to-scale-up-to-address")
          Q2 Essential themes


      %p
        %a(href="/#/cmp/g3cbh2fixd/sgd/plps8t4gtz/xyz")
          Group Scribe click here to enter comments and ideas for Session 2 Deliberation questions 3, 4 & 5


      %p
        %a(href="/#/cmp/hwqpv7alv3/allocate/what-could-we-do-differently-to-scale-up-to-address")
          Q1 Priorisation
      %p
        %a(href="/#/cmp/yvoah9heyj/allocate/what-could-we-do-differently-to-scale-up-to-address")
          Q2 Priorisation

      %p
        %a(href="/#/cmp/hwqpv7alv3/allocate-results/what-could-we-do-differently-to-scale-up-to-address")
          Q1 Priorisation results
      %p
        %a(href="/#/cmp/yvoah9heyj/allocate-results/what-could-we-do-differently-to-scale-up-to-address")
          Q2 Priorisation results



