%div.modal-form-ce

  .modal-header
    %button.close(type="button" aria-hidden="true" ng-click="cancel(result)") &times;
    %h3 Send me the confirmation email
  %form(ng-submit="submit_request_confirmation(user)"){name: 'requestConfirmation'}
    .modal-body
      %div.alert.alert-error(ng-show="conf_error_message")
        %p.message(ng-bind-html-unsafe="conf_error_message")
      %p
        Email:
        %input(ng-model='user.email' required ce-focus){type: 'text', placeholder: 'Enter email...'}

    .modal-footer
      %button.btn.btn-primary(ng-disabled='!requestConfirmation.$valid') Send
      %button.btn.btn-primary.btn-link(ng-click="cancel(result)") Cancel

