%div.ce-user-bar
  .logo
    %a(ng-click="go_home()")
      %img{src: path_to_asset("ce-white-blue-20.gif") }
    %p.tagline Think together to Act together


  %div.user(ng-if="user.id>0" )
    %img(ng-src="http://assets.civicevolution.org/users/civic_dev/{{user.photo_code}}/sm2/p.jpg?id={{user.photo_code_updated}}")
    %span {{user.first_name}} {{user.last_name}}
    %a.dropdown-toggle
      %i.fa.fa-cog
    %ul.dropdown-menu
      -#%li
        %a(ng-click="edit_profile()") Edit profile
      %li
        %a(ng-click="sign_out()") Sign out
      -#%li
        %a(ng-click="change_password()")
          Change password
      -#%li
        %a(ng-click="request_confirmation()")
          Confirm email



  %p.user-bar-links(ng-hide="user.id>0" )
    Please
    %a(ng-click="sign_in()")
      %b Sign in
    or
    %a(ng-click="sign_up()")
      %b Sign up

    -#%a(ng-click="forgot_password()")
      Forgot password

    -#%a(ng-click="test()")
      Test
