%div.quote
  %div(ng-switch="theme_display_only")
    %div(ng-switch-when="true" )
      %div
        %p.title
          {{quote.data.name}}:
        %div.comment-body(ng-bind-html="quote.text")

    %div(ng-switch-default)
      %div(ng-switch="quote.expanded")
        %div(ng-switch-when="true" )
          %div{ id: "{{quote.data.id}}", type: "{{quote.data.type}}", }
            %p.title(ng-click="toggle_in_comment_quote(quote.data.id)")
              {{quote.data.name}}:
              %i.fa.fa-chevron-up
              -#%i.fa.fa-arrow-up(ng-click="goto_comment(quote.data.id)")
          %div.comment-body(ng-bind-html="quote.full_text")

        %div(ng-switch-when="false" )
          %div{ id: "{{quote.data.id}}", type: "{{quote.data.type}}", }
            %p.title(ng-click="toggle_in_comment_quote(quote.data.id)")
              {{quote.data.name}}:
              %i.fa.fa-chevron-down
              -#%i.fa.fa-arrow-up(ng-click="goto_comment(quote.data.id)")
          %div {{quote.text}}


