%div
  %div.comment-body
    %div(ng-switch="show_comment")
      %div(ng-switch-when="true")
        %p
          %a(ng-click="toggle_comment()")
            Hide
          this comment
        %hr
        %div(ng-bind-html-unsafe="converter.makeHtml(comment.text)" ng-mouseup="text_select_by_mouse()")
      %p(ng-switch-default)
        This comment by a new participant will not be displayed until the curator reviews it.
        %a(ng-click="toggle_comment()")
          Display
        this comment.


  %div.history.clear(ng-include src="history_url")

  %div(ng-if="show_comment" ce-rating-slider)