%div.comment-reply.target
  %div.reply-outer
    .col-sm-2.author
      %img(ng-src="http://assets.civicevolution.org/users/civic_dev/{{comment.target_comment.photo_code}}/sm5/p.jpg")
      %p.name {{comment.target_comment.first_name}} {{comment.target_comment.last_name}}

    .col-sm-10.body-with-arrow
      .arrow
      .comment-body-container

        %div.header
          %p.time {{comment.target_comment.updated_at | from_now}}
          %p {{comment.target_comment.purpose}}

        %div.comment-body(ng-bind-html="comment.target_comment.text")
        %p.footer
          %i.fa.fa-arrow-up(ng-click="goto_comment(comment.target_comment.id)")
