.live-allocate.select-worksheet
  %h4.page-title Worksheet: Select your 3 most important ideas for each question

  %div.section(ng-repeat="conversation in conversations" )

    %table(border="1")
      %tr
        %th(colspan="2") {{conversation.title}}
        %th.select Select 3
      %tr(ng-repeat="theme in conversation.final_themes" )
        %td.letter
          {{theme.letter}}
        %td.text
          {{theme.text}}
        %td.select