.live-allocate-results
  %h2 {{title}}
  %h4 Your prioritised key themes

  %div.graph.row(ng-repeat="theme in selection_votes")
    .col-sm-10.theme(ng-bind-html="converter.makeHtml(theme.text)"){style: "background-size: {{theme.graph_percentage}}% 100%;"}
    .col-sm-1.percent {{theme.percentage}}%
    .col-sm-1.count ({{theme.votes | number:0}})

  %div(ce-size-adjuster)

