%h1 Conversation (HAML)

%div(ng-controller='ConversationCtrl')
  %form.convo(ng-submit="addComment()"){arb_attr: 'reddish'}
    %p
      Name: 
      %input{type: 'text', 'ng-model' => "newComment.name"}

    %p
      Message: 
      %input{type: 'text', 'ng-model' => "newComment.text"}
      
    %p
      %input{type: 'submit', value: 'Add'}  
    
  %ul
    %li(ng-repeat="comment in comments")
      {{comment.name}} says "{{comment.text}}"
      %a(ng-show="!comment.liked" ng-click="like()"){href: '#'}
        Like
      %a(ng-show="comment.liked" ng-click="like()"){href: '#'}
        Unlike

  
%div(ng-controller='ChatCtrl')        
  %a(ng-click="test_link()"){href: '#'}
    Test link
  %div
    <label for="">Your name: </label><input type="text" ng-model="username">
  %p
  #messagesDiv{:style => "height:200px;"}
    %div(ng-cloak ng-repeat="message in messages")
      %em {{message.name}}: 
      {{message.text}}

  %form(ng-submit="addMessage()")
    %input{"ng-model" => "message", :placeholder => "Message...", :type => "text"}/
    %input#submit{:style => "font-size:24px;", :type => "submit", :value => "Send"}/
    
