%h1 Conversation (HAML)

%div(ng-controller='AngularFireCtrl')        

%div(ng-controller='ConversationCtrl')
  %form.convo(ng-submit="addComment()"){arb_attr: 'reddish'}
    %p
      Name: 
      %input{type: 'text', 'ng-model' => "newComment.name", :placeholder => "Name"}

    %p
      Message: 
      %input{type: 'text', 'ng-model' => "newComment.text", :placeholder => "Message..."}
      
    %p
      %input{type: 'submit', value: 'Add'}  
    
  %ul
    %li(ng-repeat="comment in comments")
      %span(ng-bind-template="{{comment.name}} said \"{{comment.text}}\"")
      %a(ng-show="!comment.liked" ng-click="like()")
        Like
      %a(ng-show="comment.liked" ng-click="like()")
        Unlike
      %a(ng-click="delete()")
        Delete
  
  %div
    %a{href: '/#/state_temp_prov'}
      temp_prov
  
    %a{href: '/#/state1'}
      state1
    %a{href: '/#/state2'}
      state2
    %a{href: '/#/state3'}
      state3
    %a{href: '/#/state4'}
      state4
    
  %div(ui-view)
