.report-canvas
  %h3 Report setup

  %p
    Base font:
    %select(ng-model="report_specs.font_family" ng-options="o.value as o.key for o in setup.font_families" ng-change="update_setup()")


  %hr
  %div.canvas-panel(ng-repeat="canvas in report_specs.canvases")
    %canvas{id: "report-canvas-{{canvas.id}}"}

  %p(ng-if="report_specs.report_images")
    %b Right click on each report image below to copy it and then paste it into a Word document
  %div.report-images(ng-repeat="(index, report) in report_specs.report_images")
    %p Report section {{index}}
    %img(src="{{report.dataURL}}")
    %hr

