.report-canvas
  %h3 Report setup
  %hr
  %div.canvas-panel(ng-repeat="canvas in report_specs.canvases")
    %p
      %a(ng-click="test(canvas.id)") Open canvas {{canvas.id}} as image
    %canvas{id: "report-canvas-{{canvas.id}}"}

