.report-canvas
  %h3 Report setup

  %table
    %tr
      %td
        Deliberation to report:
      %td
        %select(ng-model="report_specs.conversation_code" ng-options="o.value as o.key for o in setup.conversations" ng-change="update_data_set()")
          %option(value="" disabled selected) Select the deliberation for this report

    %tr
      %td
        Layout for report:
      %td
        %select(ng-model="report_specs.layout" ng-options="o.value as o.key for o in setup.layouts" ng-change="update_data_set()")
          %option(value="" disabled selected) Choose a layout for this report

    %tr
      %td
        Include quotes?
      %td
        %select(ng-model="report_specs.hide_examples" ng-change="update_setup()")
          %option(value="true" selected) Hide quotes
          %option(value="false") Display quotes

        -#%input(type='checkbox' ng-model="report_specs.hide_examples" ng-checked="report_specs.hide_examples" ng-change="update_setup()")
          Hide example quotes

    %tr
      %td
        Report header:
      %td
        %input.header(ng-model="report_specs.header_text")

    %tr
      %td
        Base font:
      %td
        %select(ng-model="report_specs.font_family" ng-options="o.value as o.key for o in setup.font_families" ng-change="update_setup()")
        %select.size(ng-model="report_specs.font_size" ng-options="o.value as o.key for o in setup.font_sizes" ng-change="update_setup()")

    %tr
      %td
        Report image size:
      %td
        Width:
        %input.size(ng-model="report_specs.canvas_width")
        Height of first block:
        %input.size(ng-model="report_specs.max_canvas_height_first_block")
        Height of subsequent blocks:
        %input.size(ng-model="report_specs.max_canvas_height_addtl_blocks")

    %tr
      %td(colspan="2")
        %button.btn-primary.btn(ng-click="update_setup()") Re-display report
    %tr
      %td
        Save report:
      %td
        Title:
        %input.report-title(ng-model="report_specs.report_title")
        %button.btn-primary.btn(ng-click="save_report($event)" ng-disabled="!report_specs.report_images")
          %span.def-msg Save report
          %span.busy-msg
            Saving
            %i.icon-spinner.icon-spin

  %b Saved reports
  %table.saved_reports
    %tr(ng-repeat="report in setup.saved_reports")
      %td
        {{report.title}}
      %td
        %a(ng-click="edit_report(report.id)")
          Edit
      %td
        %a(ng-click="delete_report(report.id)")
          Delete
      %td
        Images of report:
      %td
        %div(ng-repeat="image in report.report_images")
          %a(href="{{image.url}}" target="_blank")
            {{image.title}}


  %hr
  %div.canvas-panel(ng-repeat="canvas in report_specs.canvases")
    %canvas{id: "report-canvas-{{canvas.id}}"}

  #report-images
    %p(ng-if="report_specs.report_images")
      %b Right click on each report image below to copy it and then paste it into a Word document
    %div.report-images(ng-repeat="(index, report) in report_specs.report_images")
      %p Report section {{index + 1}}
      %img(src="{{report.dataURL}}")

