.live-allocate.select-worksheet
  %h3.page-title Worksheet dividing 100 points between your most important ideas
  %P No more than 40 points for your most important idea(s)

  %div.section(ng-repeat="conversation in conversations" )
    %h3 {{conversation.title}}

    %table(border="1")
      %tr(ng-repeat="theme in conversation.essential_themes" )
        %td.letter
          {{theme.letter}}
        %td.text
          {{theme.text}}
        %td.select
      %tr
        %th.total(colspan="2")
          Total points
        %td