.live-allocate-results
  %h2 Your top priorities
  -#%h4 Allocation results
  %div.graph.row(ng-repeat="theme in allocated_points | filter: {published: true }")
    .col-md-10.theme(ng-bind-html="converter.makeHtml(theme.text)"){style: "background-size: {{theme.graph_percentage}}% 100%;"}
    .col-md-1.percent {{theme.percentage}}%
    .col-md-1.count ({{theme.points | number:0}})

  %div(ce-size-adjuster)

