.live-choice#live-choose

  %h3  Enter choices for Group {{user.last_name}}, member \#{{voter_id}}

  %table
    %tr
      %td
      %th Question 1
      %th Question 2
      %th Question 3
    %tr
      %td.lbl 1st choice
      %td.box
        %div.dropdown
          %button.btn.btn-primary.btn-large.dropdown-toggle{box: '1A' }
            %span Select choice
            %b.caret
          %ul.dropdown-menu(ng-click="note_choice()")
            %li.ng-scope(ng-repeat="choice in question_1_themes")
              %a{id: "{{choice.id}}"} {{choice.letter}}

      %td.box
        %div.dropdown
          %button.btn.btn-primary.btn-large.dropdown-toggle{box: '2A' }
            %span Select choice
            %b.caret
          %ul.dropdown-menu(ng-click="note_choice()")
            %li.ng-scope(ng-repeat="choice in question_2_themes")
              %a{id: "{{choice.id}}"} {{choice.letter}}
      %td.box
        %div.dropdown
          %button.btn.btn-primary.btn-large.dropdown-toggle{box: '3A' }
            %span Select choice
            %b.caret
          %ul.dropdown-menu(ng-click="note_choice()")
            %li.ng-scope(ng-repeat="choice in question_3_themes")
              %a{id: "{{choice.id}}"} {{choice.letter}}

    %tr
      %td.lbl 2nd choice
      %td.box
        %div.dropdown
          %button.btn.btn-primary.btn-large.dropdown-toggle{box: '1B' }
            %span Select choice
            %b.caret
          %ul.dropdown-menu(ng-click="note_choice()")
            %li.ng-scope(ng-repeat="choice in question_1_themes")
              %a{id: "{{choice.id}}"} {{choice.letter}}

      %td.box
        %div.dropdown
          %button.btn.btn-primary.btn-large.dropdown-toggle{box: '2B' }
            %span Select choice
            %b.caret
          %ul.dropdown-menu(ng-click="note_choice()")
            %li.ng-scope(ng-repeat="choice in question_2_themes")
              %a{id: "{{choice.id}}"} {{choice.letter}}
      %td.box
        %div.dropdown
          %button.btn.btn-primary.btn-large.dropdown-toggle{box: '3B' }
            %span Select choice
            %b.caret
          %ul.dropdown-menu(ng-click="note_choice()")
            %li.ng-scope(ng-repeat="choice in question_3_themes")
              %a{id: "{{choice.id}}"} {{choice.letter}}

    %tr
      %td
      %td
        -#%button.btn.btn-large.left(ng-click="save()") < Previous
      %td
      %td
        %button.btn.btn-success.btn-large.right(ng-click="save()" ng-disabled="!completed") Next >
        -#%button.btn.btn-success.btn-large.right(ng-click="save()" ) Next >



