#coord-mca-table
  %h3 {{page_title}}

  %p
    Panel's judgement should weigh
    %input.panel-weight(ng-model="mca.panel_weight"){type: 'numeric', placeholder: '??'}
    %span.pct %
    %button.btn-primary.btn(ng-click="adjust_weight()"){type: 'submit'} Update
  %p
    The CGG Executive body should weigh {{ mca.exec_weight }}

  .mca-table-column-select
    %p
      %input#hide_avg.chkbx(ng-model='mca.hide_avg' ng-change="adjust_avg_view()"){type: 'checkbox', value:1}
      %label{for: "hide_avg"} Hide the rows that have been averaged

    %p
      %input#exec.chkbx(ng-model='mca.exec' ng-change="adjust_exec_view()"){type: 'checkbox', value:1}
      %label{for: "exec"} Display the CGG Executive rating

    %p
      %input#weighted.chkbx(ng-model='mca.weighted' ng-change="adjust_weighted_view()"){type: 'checkbox', value:1}
      %label{for: "weighted"} Display the weighted Panel/Exec & Total scores

    %p
      %input#assign.chkbx(ng-model='mca.assign' ng-change="adjust_weighted_view()"){type: 'checkbox', value:1}
      %label{for: "assign"} Display the Assign button

  .gridStyle(ng-grid="gridOptions")