%div#conversation.conversation-theming.live-edit
  -#%a.show-examples(ng-click="toggle_examples()") "ABC: {{examples_link}}"
  .row-fluid.conversation#conversation(ng-style="conversation.style")
    .span12
      %h4#conversation-title.title {{conversation.title}}

      %div.all-themes
        %div.comment-outer(ng-repeat="comment in conversation.theme_comments")
          %div(ce-sortable ce-comment type="live-theme")
        %div(ng-if="conversation.theme_comments.length == 0")
          %p There are no themes created by {{conversation.active_themer_name}}





    %div(ce-comment-form)

  %div(ce-text-select label="Add as example" event_name_str="text-select-add-example")

  %div(ce-size-adjuster)