.live-allocate.live-select.live-recommend-vote
  %h3(ng-hide="edit_vote_mode") Enter recommendation for Group {{user.last_name}}
  %h3.warn(ng-show="edit_vote_mode")  Edit recommendation for participant \#{{voter_id}} of Group {{user.last_name}}

  %h4 Service: {{conversation.title}}


  %table(border="1")

    %tr(ng-repeat="option in vote_options" )
      %td.text
        {{option.text}}

      %td.select
        %input.vote-count(type="number" ng-model="option.vote_count" )

    %tr
      %td(colspan="3")
        %p.status {{vote_status}}
        %button.btn.btn-success.btn-lg.right(ng-click="save()")
          %span.def-msg {{btn_lbl}}
          %span.busy-msg
            Saving
            %i.fa.fa-spinner.fa-spin