.live-allocate-results.recommendation_votes
  %h3 Service: {{title}}

  %div.graph.row(ng-repeat="option in option_votes")
    .col-sm-10.theme(ng-bind-html="converter.makeHtml(option.text)"){style: "background-size: {{option.graph_percentage}}% 100%;"}
    .col-sm-1.percent {{option.percentage}}%
    .col-sm-1.count ({{option.votes | number:0}})

  %div(ce-size-adjuster)


  %h4 All table votes

  %table
    %tbody
      %tr
        %th Table
        %th(ng-repeat="option in option_votes") {{option.text}}
        %th Total
        %th Members
        %th Check


      %tr(ng-repeat="table_num in tables")
        %td Table {{table_num}}
        %td {{ table_votes["g" + table_num + "-r1"] || 0 }}
        %td {{ table_votes["g" + table_num + "-r2"] || 0 }}
        %td {{ table_votes["g" + table_num + "-r3"] || 0 }}
        %td {{ table_votes["g" + table_num + "-r4"] || 0 }}
        %td {{ sums[$index] }}
        %td {{ table_size[$index] }}
        %td(ng-switch="comp($index)")
          %i.red.fa.fa-warning(ng-switch-when="1")
          %i.green.fa.fa-check(ng-switch-when="0")
          %i.red.fa.fa-question(ng-switch-when="-1")