.live-allocate-results
  %h3 Service: {{title}}

  %div.graph.row(ng-repeat="recommendation in recommendation_votes")
    .col-md-10.theme(ng-bind-html="converter.makeHtml(recommendation.text)"){style: "background-size: {{recommendation.graph_percentage}}% 100%;"}
    .col-md-1.percent {{recommendation.percentage}}%
    .col-md-1.count ({{recommendation.votes | number:0}})

  %div(ce-size-adjuster)

