%div#conversation.conversation-theming
  .row.conversation#conversation(ng-style="conversation.style")
    .col-sm-3
      %div(ng-if="conversation.theme_themes_mode" ng-include="'#{ path_to_asset("live/theme-themes-menu.html") }'")
      %div(ng-if="!conversation.theme_themes_mode" ng-include="'#{ path_to_asset("live/theme-comments-menu.html") }'")

    .col-sm-9
      %h4#conversation-title.title {{conversation.title}}

      %div(ng-if="conversation.theme_themes_mode" ng-include="'#{ path_to_asset("live/theme-themes-body.html") }'")
      %div(ng-if="!conversation.theme_themes_mode" ng-include="'#{ path_to_asset("live/theme-comments-body.html") }'")

    %div(ce-comment-form)

  %div(ce-text-select label="Add as example" event_name_str="text-select-add-example")