%ul.nav.nav-pills.nav-stacked.nav-fixed#right-menu

  -#%li#conversation-review-link
    %span.label.label-info Themers

  -#%li#conversation-review-link(ng-repeat="(name, theme_cnt) in conversation.themers" ng-class="{active: (conversation.active_themer_name == name)}" Xpopover="Click to view Theming by {{name}}" Xpopover-trigger="mouseenter" Xpopover-placement="right" Xpopover-animation="true")
    %a(ng-click="change_themer(name)")
      {{name}}
      %span.badge.badge-info {{theme_cnt.cnt}}

  %li#conversation-review-link
    %span.label.label-info Comments

  %li#conversation-review-link(ng-class="{active: conversation.filter_mode == 'all_table_comments'}" Xpopover="Click here to view all of the comments" Xpopover-trigger="mouseenter" Xpopover-placement="right" Xpopover-animation="true")
    %a(ng-click="filter_table_comments('all_table_comments')")
      All comments
      %span.badge.badge-info {{conversation.comment_counts['all_comments']}}


  %li#conversation-review-link(ng-class="{active: conversation.filter_mode == 'untagged_comments'}" Xpopover="Click here to view all of the comments that need to be tagged to a theme" Xpopover-trigger="mouseenter" Xpopover-placement="right" Xpopover-animation="true")
    %a(ng-click="filter_table_comments('untagged_comments')")
      Untagged
      %span.badge.badge-important {{conversation.comment_counts['untagged_comments']}}

  %li#conversation-review-link(ng-class="{active: conversation.filter_mode == 'parked_comments'}" Xpopover="Click here to view all of the comments that have been parked" Xpopover-trigger="mouseenter" Xpopover-placement="right" Xpopover-animation="true")
    %a(ng-click="filter_table_comments('parked_comments')")
      Parked
      %span.badge.badge-info {{conversation.comment_counts['parked_comments']}}

  %li#conversation-review-link(ng-repeat="id in conversation.assigned_tables" ng-class="{active: (conversation.filter_mode == 'table' && conversation.filter_id == id)}" Xpopover="Click to view comments from table {{id}}" Xpopover-trigger="mouseenter" Xpopover-placement="right" Xpopover-animation="true")
    %a(ng-click="filter_table_comments('table', id)")
      Table {{id}}
      %span.badge.badge-info {{conversation.comment_counts['table' + id]}}


  %li#conversation-review-link
    %span.label.label-info Team themes

  %li#conversation-review-link(ng-class="{active: conversation.filter_mode == 'all_theme_comments'}" Xpopover="Click here to view all of the themes" Xpopover-trigger="mouseenter" Xpopover-placement="right" Xpopover-animation="true")
    %a(ng-click="filter_table_comments('all_theme_comments')")
      All themes
      %span.badge.badge-info {{conversation.comment_counts['all_themes']}}


  %li#conversation-review-link(ng-class="{active: conversation.filter_mode == 'untagged_themes'}" Xpopover="Click here to view all of the themes that need to be tagged to a theme" Xpopover-trigger="mouseenter" Xpopover-placement="right" Xpopover-animation="true")
    %a(ng-click="filter_table_comments('untagged_themes')")
      Untagged
      %span.badge.badge-important {{conversation.comment_counts['untagged_themes']}}

  %li#conversation-review-link(ng-class="{active: conversation.filter_mode == 'parked_themes'}" Xpopover="Click here to view all of the themes that have been parked" Xpopover-trigger="mouseenter" Xpopover-placement="right" Xpopover-animation="true")
    %a(ng-click="filter_table_comments('parked_themes')")
      Parked
      %span.badge.badge-info {{conversation.comment_counts['parked_themes']}}

  %li#conversation-review-link
    %span.label.label-info My themes

  %li#conversation-review-link(ng-class="{active: conversation.filter_mode == 'themes'}")
    %a(ng-click="filter_table_comments('themes')")
      All themes
      %span.badge.badge-info {{conversation.comment_counts['themes']}}

  %li#conversation-review-link(ng-repeat="theme in conversation.theme_comments" ng-class="{active: conversation.filter_mode == 'theme' && conversation.filter_id == theme.id}" Xpopover="{{theme.Xpopover}}" Xpopover-trigger="mouseenter" Xpopover-placement="right" Xpopover-animation="true")
    %a(ng-click="filter_table_comments('theme', theme.id)")
      {{theme.tag_name}}
      %span.badge.badge-info {{conversation.comment_counts[theme.id]}}

  %p
    %a(ng-click="edit('new-theme-comment')") Add new theme