.live-themes(ng-class="{'no-ex': no_examples}")
  %a.show-examples(ng-click="toggle_examples()") {{examples_link}}
  %h3
    %div.title {{conversation_title}}
    %div Key themes

  %table
    %tr(ng-repeat="theme in conversation_themes | filter: {published: true }")
      %td.letter {{theme.letter}}
      %td.live-theme(ng-bind-html-unsafe="converter.makeHtml(theme.text)")

  %div(ce-size-adjuster)