:plain
  Hello #{@recip_first},

  Thank you for your recent comment at CivicEvolution.org

  You must confirm your email now by clicking this link:

  #{@confirmation_href}

  Please confirm your email so you can join conversations and get email updates.

  Thank you,

  Brian @ CivicEvolution

  PS: Please contact me if you have any questions or suggestions.






