#change-password
  .modal-header
    %button.close(type="button" aria-hidden="true" ng-click="cancel(result)") &times;
    %h3 Change your password
  .modal-body
    %div.alert.alert-error(ng-show="change_password_error_message")
      %p.message(ng-bind-html-unsafe="change_password_error_message")

    %form(ng-submit="submit_change_password(update_pw)"){name: 'changePassword'}

      %p
        Current password:
        %input(ng-model='update_pw.current_password' required ce-focus){type: 'text', placeholder: 'Current password'}

      %p
        New password:
        %input(ng-model='update_pw.password' required ){type: 'text', placeholder: 'New password'}

      %p
        Repeat password:
        %input(ng-model='update_pw.password_confirmation' required ){type: 'text', placeholder: 'Repeat password'}

      .modal-footer
        %button.btn.btn-primary(ng-disabled='!changePassword.$valid') Change password
        %button.btn.btn-primary.btn-link(ng-click="cancel(result)") Cancel
