%div.comment(ng-switch="comment.type" ng-class="comment.type" select_reference="comment-{{comment.id}}")
  %div(ng-switch-when="SummaryComment")
    %div(ng-switch="comment.text.length")
      %div.row-fluid(ng-switch-when="0")
        .span8.deleted-comment-body
          %p
            This summary item has been deleted
            %a(ng-click="view_history({{comment.id}})")
              View history
          %div.history.clear(ng-include src="history_url")

      %div.row-fluid(ng-switch-default)
        .span10.summary-comment-body(ng-mouseup="text_select_by_mouse()")
          %p.author
          %div(ng-bind-html-unsafe="converter.makeHtml(comment.text)")

          %div.attachments
            %div.attachment(ng-repeat="attachment in comment.attachments" )
              %a(ng-href="{{attachment.url}}"){target: "_blank"}
                %img.icon(ng-src="{{attachment.medium_url}}")
                %p.name
                  {{attachment.attachment_file_name}}

          %div.history.clear(ng-include src="history_url")

          %div(ce-rating-slider)

        .span2.share
          %p Summary
          %a(ng-click="share({{comment.id}})")
            %i.icon-share-alt
            %span Share
          %a(ng-click="reply({{comment.id}})")
            %i.icon-reply
            %span Reply
          %a(ng-click="flag({{comment.id}})")
            %i.icon-flag
            %span Flag

          %p.time {{comment.updated_at | from_now}}

          %a(ng-show="comment.version>1" ng-click="view_history({{comment.id}})")
            History v{{comment.version}}

          %a(ng-if="comment.editable_by_user" ng-click="edit('{{comment.type}}',{{comment.id}})"){title: "Edit this comment"}
            -#%i.icon-pencil
            Edit



  %div(ng-switch-when="ConversationComment")
    %div(ng-switch="comment.text.length")
      %div.row-fluid(ng-switch-when="0")
        .span2.author.deleted-comment-author
          %div.com-num
            {{comment.order_id}}

        .span8.deleted-comment-body
          %p
            This comment has been deleted
            %a(ng-click="view_history({{comment.id}})")
              View history
          %div.history.clear(ng-include src="history_url")

      %div.row-fluid(ng-switch-default)
        .span2.author
          %img(ng-src="{{comment.sm5}}")
          %p.name {{comment.first_name}} {{comment.last_name}}
          %div.com-num
            {{comment.order_id}}

        .span8.conversation-comment-body(ng-mouseup="text_select_by_mouse()")
          %div.comment-body(ng-bind-html-unsafe="converter.makeHtml(comment.text)")

          %div.attachments
            %div.attachment(ng-repeat="attachment in comment.attachments" )
              %a(ng-href="{{attachment.url}}"){target: "_blank"}
                %img.icon(ng-src="{{attachment.medium_url}}")
                %p.name
                  {{attachment.attachment_file_name}}

          %div.history.clear(ng-include src="history_url")

          %div(ce-rating-slider)

        .span2.share
          %p {{comment.purpose}}
          %a(ng-click="share({{comment.id}})")
            %i.icon-share-alt
            %span Share
          %a(ng-click="reply({{comment.id}})")
            %i.icon-reply
            %span Reply
          %a(ng-click="flag({{comment.id}})")
            %i.icon-flag
            %span Flag

          %p.time {{comment.updated_at | from_now}}

          %a(ng-show="comment.version>1" ng-click="view_history({{comment.id}})")
            History v{{comment.version}}

          %a(ng-if="comment.editable_by_user" ng-click="edit('{{comment.type}}',{{comment.id}})"){title: "Edit this comment"}
            -#%i.icon-pencil
            Edit
