%div.comment(ng-switch="comment.type" ng-class="comment.type" select_reference="comment-{{comment.id}}"){id: "com-{{comment.id}}"}
  %div(ng-switch="comment.text.length")
    %div.row-fluid(ng-switch-when="0")
      .span8.deleted-comment-body
        %p
          This summary item has been deleted
          %a(ng-click="view_history({{comment.id}})")
            View history
        %div.history.clear(ng-include src="history_url")

    %div.row-fluid(ng-switch-default)
      .span12.summary-comment-body
        .comment-body-container
          %div.header
            %p.time {{comment.updated_at | from_now}}
            %p {{comment.purpose}}

          %div(ng-bind-html-unsafe="converter.makeHtml(comment.text)" ng-mouseup="text_select_by_mouse()")

          %div.history.clear(ng-include src="history_url")

          %div(ce-rating-slider)

          %div.footer
            %div.replies(ng-if="comment.replies.length>0" ng-click="show_replies()")
              {{comment.replies.length}} replies
              %span(ng-if="comment.replies_expanded")
                %i.icon-chevron-up

            %a(ng-click="reply('summary-comment-reply')")
              %i.icon-reply
              %span Reply
            %a(ng-click="share({{comment.id}})")
              %i.icon-share-alt
              %span Share
            %a(ng-click="bookmark()" ng-switch="comment.bookmark")
              %span(ng-switch-when="true")
                %i.icon-bookmark
              %span(ng-switch-default)
                %i.icon-bookmark-empty
              %span Bookmark

            %a(ng-click="flag()")
              %i.icon-flag
              %span Flag

            %a(ng-show="comment.version>1" ng-click="view_history({{comment.id}})")
              History v{{comment.version}}

            %a(ng-if="comment.editable_by_user" ng-click="edit('summary-comment-edit')"){title: "Edit this comment"}
              -#%i.icon-pencil
              Edit

          %div.comment-replies(ng-if="comment.replies_expanded")
            %div(ng-repeat="reply in comment.reply_comments")
              %div{'ng-include' => "'#{ path_to_asset("comment-reply.html") }'"}
            %p.clear
