%div.comment(ng-switch="comment.type" ng-class="comment.type" select_reference="comment-{{comment.id}}"){id: "com-{{comment.id}}"}
  %div(ng-switch="comment.text.length")
    %div.row-fluid(ng-switch-when="0")
      .span8.deleted-comment-body
        %p
          This summary item has been deleted
          %a(ng-click="view_history({{comment.id}})")
            View history
        %div.history.clear(ng-include src="history_url")

    %div.row-fluid(ng-switch-default)
      .span12.summary-comment-body
        .comment-body-container
          %div.header
            %p.time {{comment.updated_at | from_now}}
            %p {{comment.purpose}}

          %div(ng-bind-html-unsafe="converter.makeHtml(comment.text)" ng-mouseup="text_select_by_mouse()")

          %div.history.clear(ng-include src="history_url")

          %div(ce-rating-slider)

          %div.footer

            %a(ng-click="share({{comment.id}})")
              %i.icon-share-alt
              %span Share
            %a(ng-click="reply({{comment.id}})")
              %i.icon-reply
              %span Reply
            %a(ng-click="flag({{comment.id}})")
              %i.icon-flag
              %span Flag

            %a(ng-show="comment.version>1" ng-click="view_history({{comment.id}})")
              History v{{comment.version}}

            %a(ng-if="comment.editable_by_user" ng-click="edit('{{comment.type}}',{{comment.id}})"){title: "Edit this comment"}
              -#%i.icon-pencil
              Edit

