%div.conversation

  .row-fluid
    .span12.summary
      %h4 Summary
      %div
        %div.comment-outer(ng-repeat="comment in SummaryComments" )
          %div(ce-sortable ce-comment)

  .div(ng-switch="add_summary_comment" )
    .row-fluid(ng-switch-default )
      .span8
        %p
          %input.btn-primary.btn(ng-click="show_comment_form('summary')"){type: 'button', value: 'Add summary comment'}

    .row-fluid(ng-switch-when="true")
      .span8
        %h4 Add a summary comment to help capture this conversation
        %div(ce-comment-form max="SummaryCommentLength" type="SummaryComment")

  .row-fluid
    .span12.conversation
      %h4 Conversation
      %div.comment-outer(ng-repeat="comment in ConversationComments" )
        %div(ce-comment)

  .row-fluid
    .span8
      %p
        %input.btn-primary.btn(ng-click="show_comment_form('conversation')"){type: 'button', value: 'Add conversation comment'}

  %div(ce-comment-form max="ConversationCommentLength" type="ConversationComment")