%div
  .row-fluid.conversation#conversation(ng-style="conversation.style")
    .span9
      %h3#conversation-title.title
        %span.actual-title(ng-click="edit_title()" ng-if="conversation.title && !conversation.edit_title")
          {{conversation.title}}
        %span.placeholder(ng-click="edit_title()" ng-if="!conversation.title && !conversation.edit_title" )
          Click here to edit this conversation's question
        %span.edit(ng-if="conversation.edit_title")
          %h4 Update the question for this conversation:
          %input(ng-model="conversation.title")
          %div
            %button.btn.btn-primary(ng-click="save_title()"){:type => "submit"} Save changes
            %button.btn.btn-link(ng-click="cancel_title_edit()") Cancel



      .row-fluid
        .span12.summary
          %div#call-to-action.call-to-action
            %div.comment-outer(ng-repeat="comment in [conversation.call_to_action_comment]")
              %div(ce-comment type="call-to-action")

      .row-fluid
        .span12.summary
          %h4 Conversation Summary
          %div
            %div.comment-outer(ng-repeat="comment in conversation.summary_comments" )
              %div(ce-sortable ce-comment type="summary")

            %div.placeholder(ng-if="conversation.summary_comments.length==0")
              %p Conversation summary placeholder

      %div(ng-switch="add_summary_comment" ng-if="conversation.can('edit_summary')")
        .row-fluid(ng-switch-default )
          .span8
            %p
              %input.btn-primary.btn(ng-click="show_comment_form('new-summary-comment')"){type: 'button', value: 'Add summary comment'}

        .row-fluid(ng-switch-when="true")
          .span8
            %h4 Add a summary comment to help capture this conversation
            %div(ce-comment-form max="SummaryCommentLength" type="SummaryComment")

      .row-fluid(ng-if="conversation.privacy.comments=='true' || conversation.can('show')")
        .span12.conversation
          %h4 Conversation
          %div.comment-outer(ng-repeat="comment in conversation.conversation_comments" )
            %div(ce-comment type="conversation")

          %div.placeholder(ng-if="conversation.conversation_comments.length == 0")
            %p Conversation placeholder

      .row-fluid(ng-if="conversation.privacy.unknown_users=='true' || conversation.can('post_prescreen')")
        .span8
          %p#add-conversation-comment
            %input.btn-primary.btn(ng-click="show_comment_form('new-conversation-comment')"){type: 'button', value: 'Add conversation comment'}

      %div(ce-comment-form max="ConversationCommentLength" type="ConversationComment")

    .span3.right-bar
      %div(ce-conversation-right-bar)

  %div(ng-if="conversation.wizard_mode")
    %div(ce-create-conversation-wizard)

  %div(ce-text-select label="Reply with quote" event_name_str="text-select-button-clicked")




