#events
  %h3 Current in-person events

  %h4
    %a{href: "/#/events"}
      Bangalore Sub-Urban Rail Project: Potentials for Innovative Financing and Planning Strategies

  %h4
    %a{ href: "/#/agenda/efhhqvb1cn/iap2-conference"}
      iap2 Conference