#events
  %h3 Current in-person events

  %h4
    %a{href: "/#/agenda/f3zp7xglzp/bangalore-sub-urban-rail-project-potential-for-inno"}
      Bangalore Sub-Urban Rail Project: Potentials for Innovative Financing and Planning Strategies

  %h4
    %a{ href: "/#/agenda/efhhqvb1cn/iap2-conference"}
      iap2 Conference