%div

  .modal-header
    %h3 I want to change my password
  .modal-body
    %div.alert.alert-error(ng-show="reset_error_message")
      %p.message(ng-bind-html-unsafe="reset_error_message")

    %form(ng-submit="submit_forgot_password(user)"){name: 'signIn'}
      %p
        Email:
        %input(ng-model='user.email' required ce-focus){type: 'text', placeholder: 'Enter email...'}
        -#ng-pattern='^\S+\@\S+\.\S+$'
          %span(ng-show="form.email.$error.pattern")
            Incorrect Format, should be MM/DD/YY!

      .modal-footer
        %button.btn.btn-primary(ng-disabled='!signIn.$valid') Send me password reset instructions
        %button.btn.btn-primary(ng-click="cancel(result)") Cancel

