#home
  .row-fluid
    .span12
      %h3 Welcome to CivicEvolution

      %p
        %input.btn-primary.btn(ng-click="$state.transitionTo('conversation')"){type: 'button', value: 'Start a conversation!'}



