.row-fluid
  .span12.conversation
    %div(ng-repeat="issue in initiative.issues" )
      %div(ce-issue-card)

.row-fluid
  .span12

    %p
      %input.btn-primary.btn(ng-click="$state.transitionTo('initiative.add-an-issue', { munged_title: initiative_munged_title})"){type: 'button', value: 'Add an issue'}
