.row-fluid
  .span9.issue
    %h2 {{issue.title}}
    %p {{issue.description}}

    %div.question(ng-repeat="question in issue.questions" )
      %div(ce-question)


  .span3.right-bar
    Right bar

  .quote_reply(ng-style="show_add_quote_to_reply_style" )
    %button(ng-click="add_quote_to_reply()")
      Reply with quote
