.live-allocate
  %h4 Divide $100 between all the ideas with no more than $50 for your most important idea(s)


  %table(border="1")
    %tr
      %th(colspan="2")
        %h3 Our prioritised Ideas
      %th
        %h3 $ Spent
    %tr(ng-repeat="theme in allocation_themes" )
      %td.letter
        {{theme.letter}}
      %td.text
        {{theme.text}}

      %td.alloc
        %h3 $
        %input.allocation(type="number" ng-model="theme.value" ng-change="total()")



    %tr
      %th(colspan="2")
        %h3 TOTAL
      %th
        %h3(ng-class="{warn: over100}")
          ${{ total() }}

    %tr
      %td(colspan="3")
        %button.btn.btn-success.btn-large.right(ng-click="save()" ng-disabled="over100") Submit
