.live-group-vote-insert
  %table
    %tr
      %td Group members in favor
      %td
        %input(ng-model="newComment.pro_votes")
    %tr
      %td Group members opposed
      %td
        %input(ng-model="newComment.con_votes")