.live-links
  -#%p live-links.html


  %p
    %a(href="http://app.civicevolution.dev:8001/#/conversation/tfxdeqclv3/themes/xyz") themes
  %p
    %a(href="http://app.civicevolution.dev:8001/#/conversation/tfxdeqclv3/choose/xyz") choose 2
  %p
    %a(href="http://app.civicevolution.dev:8001/#/conversation/tfxdeqclv3/choose-results/xyz") choose results
  %p
    %a(href="http://app.civicevolution.dev:8001/#/live/tfxdeqclv3/options") 6 options
  %p
    %a(href="http://app.civicevolution.dev:8001/#/live/tfxdeqclv3/allocate") allocate
  %p
    %a(href="http://app.civicevolution.dev:8001/#/live/tfxdeqclv3/allocate-results") allocation results