.live-allocate
  %h4 Divide $100 between all the ideas with no more than $50 for your most important idea(s)


  %table(border="1")
    %tr
      %th
        %h3 Our priority Ideas
      %th
        %h3 $ Spent
    %tr(ng-repeat="allocation in allocations" )
      %td.option
        %h3 {{allocation.ltr}}
      %td.alloc
        %h3 $
        %input.allocation(type="number" ng-model="allocation.value" ng-change="total()")



    %tr
      %th
        %h3 TOTAL
      %th
        %h3(ng-class="{warn: over100}")
          ${{ total() }}

    %tr
      %td(colspan="2")
        %button.btn.btn-success.btn-large.right(ng-click="save()" ng-disabled="over100") Submit