.live-choice

  %h3  Enter choices for member #1

  -#%li.dropdown.ng-scope
    %a.dropdown-toggle
      Click me for a dropdown, yo!
    %ul.dropdown-menu
      %li.ng-scope{"ng-repeat" => "choice in choice_data"}
        %a {{choice.letter}}


  -#%div.dropdown
    %a.dropdown-toggle
      %button.btn.btn-primary.btn-small
        Select choice
        %b.caret
    %ul.dropdown-menu
      %li.ng-scope{"ng-repeat" => "choice in choice_data"}
        %a {{choice.letter}}

  %div.dropdown
    %button.btn.btn-primary.btn-small.dropdown-toggle
      Select choice
      %b.caret
    %ul.dropdown-menu
      %li.ng-scope{"ng-repeat" => "choice in choice_data"}
        %a {{choice.letter}}



  -#%table
    %tr(ng-repeat="theme in choice_data | limitTo:10")
      %td.letter {{theme.letter}}
      %td.live-theme(ng-bind-html-unsafe="converter.makeHtml(theme.text)")


  -#%div
    %a.dropdown-toggle
      %button.btn.btn-primary.btn-small.dropdown-toggle
        Select choice
        %b.caret
    %ul.dropdown-menu
      %li(ng-repeat="theme in choice_data | limitTo:10" ng-class="{active: comment.tag_bools[theme.id] }" )
        %a {{theme.letter}}




  -#%table

    %tr(ng-repeat="theme in conversation_themes | limitTo:10")
      %td.letter {{theme.letter}}