.live-choose-results
  %h3  The theme votes

  %table
    %tr(ng-repeat="theme in theme_votes" ng-class="{lighten: theme.highlight != true}")
      %td.votes {{theme.votes}}
      %td.percent {{theme.percent}}%
      -#%td.live-theme {{theme.text}}
      %td.live-theme(ng-bind-html-unsafe="converter.makeHtml(theme.text)")


