%div

  .modal-header
    %h3 Send me the confirmation email
  .modal-body
    %div.alert.alert-error(ng-show="conf_error_message")
      %p.message {{conf_error_message}}

    %form(ng-submit="submit_request_confirmation(user)"){name: 'requestConfirmation'}
      %p
        Email:
        %input(ng-model='user.email' required ce-focus){type: 'text', placeholder: 'Enter email...'}
        -#ng-pattern='^\S+\@\S+\.\S+$'
          %span(ng-show="form.email.$error.pattern")
            Incorrect Format, should be MM/DD/YY!

      .modal-footer
        %button.btn.btn-primary(ng-disabled='!requestConfirmation.$valid') Send
        %button.btn.btn-primary(ng-click="cancel(result)") Cancel

