%div

  .modal-header
    %button.close(type="button" aria-hidden="true" ng-click="cancel(result)") &times;
    %h3 Sign in to CivicEvolution
  .modal-body
    %div.alert.alert-error(ng-show="error_message")
      %p.message(ng-bind-html-unsafe="error_message")
      %p.message(ng-if="show_confirm")
        %a(ng-click="request_confirmation()")
          Request confirmation email


    %form(ng-submit="submit_sign_in(user)"){name: 'signIn'}
      %p
        Email:
        %input(ng-model='user.email' required ce-focus){type: 'text', placeholder: 'Enter email...'}

      %p
        Password:
        %input(ng-model='user.password' required){type: 'password', placeholder: 'Enter password...'}

        %a(ng-click="forgot_password()")
          Forgot password
      %p
        Remember me:
        %input(ng-model='user.remember_me'){type: 'checkbox', value:1}

      %p
        Not a member yet?
        %a(ng-click="sign_up()")
          Sign up
        for free

  .modal-footer
    %button.btn.btn-primary(ng-disabled='!signIn.$valid' ng-click="submit_sign_in(user)") Sign in
    %button.btn.btn-primary.btn-link(ng-click="cancel(result)") Cancel




