%div

  .modal-header
    %h3 Sign in to CivicEvolution
  .modal-body
    %div.alert.alert-error(ng-show="error_message")
      %p.message {{error_message}}

    %form(ng-submit="submit_sign_in(user)"){name: 'signIn'}
      %p
        Email:
        %input(ng-model='user.email' required ce-focus){type: 'text', placeholder: 'Enter email...'}
        -#ng-pattern='^\S+\@\S+\.\S+$'
          %span(ng-show="form.email.$error.pattern")
            Incorrect Format, should be MM/DD/YY!

      %p
        Password:
        %input(ng-model='user.password' required){type: 'password', placeholder: 'Enter password...'}

      %p
        Remember me:
        %input(ng-model='user.remember_me'){type: 'checkbox', value:1}

      .modal-footer
        %button.btn.btn-primary(ng-disabled='!signIn.$valid') Sign in
        %button.btn.btn-primary(ng-click="cancel(result)") Cancel

        %a(ng-click="forgot_password()")
          Forgot password


  -#.row-fluid
    .span6
      %label.checkbox
        %input{"ng-model" => "opts.backdrop", :type => "checkbox"}>/
        Show backdrop
      %label.checkbox
        %input{"ng-model" => "opts.dialogFade", :type => "checkbox"}>/
        Fade modal dialog
      %label.checkbox
        %input{"ng-disabled" => "!opts.backdrop", "ng-model" => "opts.backdropFade", :type => "checkbox"}>/
        Fade Backdrop
      %hr/
      %label.checkbox
        %input{"ng-model" => "opts.keyboard", :type => "checkbox"}>/
        Close on Escape
      %label.checkbox
        %input{"ng-disabled" => "!opts.backdrop", "ng-model" => "opts.backdropClick", :type => "checkbox"}>/
        Close on backdrop click
    .span6
      %p Change options at will and press the open dialog button below!
      %p
        %button.btn.btn-primary{"ng-click" => "openDialog()"} Open Dialog
      %p Alternatively open a simple message box:
      %p
        %button.btn.btn-primary{"ng-click" => "openMessageBox()"} Open Message Box