%div.tags
  %button.btn.btn-primary.btn-small.dropdown-toggle
    {{comment_tags()}}
    %b.caret
  %ul.dropdown-menu
    %li(ng-repeat="theme in conversation.theme_comments" ng-class="{active: references(theme) }" ng-click="tag_click()")
      %a
        %label.checkbox
          %input(type='checkbox' value="{{theme.id}}" ng-checked="references(theme)")
            {{theme.tag_name}}
    %li.no-wrap
      %input(ng-click="text_click()" ng-keydown="check_for_enter()"){type: 'text', placeholder: 'Add new tag...'}
      %button.btn.btn-primary.btn-small(ng-click="input_submitted()") Ok