%div.tags
  %button.btn.btn-primary.btn-small.dropdown-toggle
    {{comment.tags}}
    %b.caret
  %ul.dropdown-menu(ng-click="menu_click()")
    %li(ng-repeat="theme in conversation.theme_comments" ng-class="{active: comment.tag_bools[theme.id] }")
      %a
        %label.checkbox
          %input(type='checkbox' value="{{theme.id}}" ng-checked="comment.tag_bools[theme.id]")
            {{theme.tag_name}}
    %li.no-wrap
      %form(ng-submit="input_submitted()")
        %input{type: 'text', placeholder: 'Add new tag...'}
        %button.btn.btn-primary.btn-small{type: 'submit'} Ok