%div#conversation.conversation-theming
  .row-fluid.conversation#conversation(ng-style="conversation.style")
    .span3
      %ul.nav.nav-pills.nav-stacked.nav-fixed#right-menu

        %li#conversation-review-link(ng-class="{active: active_link == 'review'}")
          %a(ng-click="open_panel('review')")
            Themes
            %span.badge.badge-important 4

        %li#conversation-review-link(ng-class="{active: active_link == 'review'}")
          %a(ng-click="filter_table_comments(null)")
            All comments
            %span.badge.badge-important 12


        %li#conversation-review-link(ng-class="{active: active_link == 'review'}")
          %a(ng-click="filter_table_comments(0)")
            Untagged
            %span.badge.badge-important 12


        %li#conversation-review-link(ng-repeat="theme in conversation.theme_comments" ng-class="{active: active_link == 'review'}" popover="{{theme.popover}}" popover-trigger="mouseenter" popover-placement="right" popover-animation="true")
          %a(ng-click="filter_table_comments(theme.id)")
            {{theme.tag_name}}
            -#%span.badge.badge-important {{conversation.review_items_count}}


    .span9
      %h4#conversation-title.title {{conversation.title}}

      %div(ng-switch="conversation.filter_by_id")
        %div(ng-switch-when="null")
          %h4 All table comments
        %div(ng-switch-when="0")
          %h4 All untagged table comments
        %div(ng-switch-default)
          %h4
            Theme:
            %i
              "{{conversation.current_theme.tag_name}}"

          %div.comment-outer(ng-repeat="comment in [conversation.current_theme]")
            %div(ce-comment type="theme")

      %h4 Comments for this theme

      %div.comment-outer(ng-repeat="comment in conversation.filtered_table_comments")
        %div(ce-comment type="table")
      %div(ng-if="conversation.filtered_table_comments.length == 0")
        %p There are no comments in this category

    %div(ce-comment-form)

  %div(ce-text-select label="Add as example" event_name_str="text-select-add-example")