%div.ce-user-bar
  .logo
    %a(href="/#/initiative/{{initiative_munged_title}}")
      %img{src: path_to_asset("ce-white-blue-20.gif") }
    %p.tagline Think together to Act together


  %div.user(ng-show="user.id>0" )
    %img(ng-src="{{user.sm3}}")
    %span {{user.first_name}} {{user.last_name}}
    %a.dropdown-toggle
      %i.icon-cog
    %ul.dropdown-menu
      %li
        %a(ng-click="edit_profile()") Edit profile
      %li
        %a(ng-click="sign_out()") Sign out
      %li
        %a(ng-click="test()") Test
      %li
        %a(ng-click="forgot_password()")
          Forgot password



  %p(ng-hide="user.id>0" )
    Please
    %a(ng-click="sign_in()")
      Sign in
    or
    %a(ng-click="sign_up()")
      Sign up

    %a(ng-click="forgot_password()")
      Forgot password

    %a(ng-click="test()")
      Test
