$gray: #cccccc;
$light_gray: #eeeeee;
$darkish_gray: #666666;
$dark_gray: #999999;
$red: #770000;
$black: #000 !default;
$white: #fff !default;
$inner_line: #d4d4d4;
$composer_background: #dcdfe0;


// --------------------------------------------------
// Mixins used throughout the theme
// --------------------------------------------------

// Media queries
// --------------------------------------------------
/*
@mixin small-height {
  @media screen and (max-height: 444px) {
    @content;
  }
}

@mixin regular-height {
  @media screen and (min-height: 445px) {
    @content;
  }
}

@mixin not-small-width {
  @media screen and (min-width: 967px) {
    @content;
  }
}

@mixin small-width {
  @media screen and (max-width: 966px) {
    @content;
  }
}

@mixin medium-width {
  @media screen and (min-width: 967px) and (max-width: 1139px) {
    @content;
  }
}

@mixin large-width {
  @media screen and (min-width: 1140px) {
    @content;
  }
}

// CSS3 properties
// --------------------------------------------------

// Box sizing

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}

// Border radius

@mixin border-radius-all($radius) {
  border-radius: $radius;
}

@mixin border-radius-top($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-radius-bottom($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

// Box shadow

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

// Linear gradient

@mixin linear-gradient($start-color, $end-color) {
  background-color: $start-color;
  background-image: linear-gradient(to bottom, $start-color, $end-color);
}

// Background size

@mixin background-size($size) {
  background-size: $size;
}

// Background clip

@mixin background-clip($clip) {
  background-clip: $clip;
}

// Rotate

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  transform: rotate($degrees);
}

// Scale

@mixin scale($ratio) {
  -webkit-transform: scale($ratio);
  transform: scale($ratio);
}

// Transition

@mixin transition($transition) {
  .discourse-no-touch & {
    -webkit-transition: #{$transition};
    -ms-transition: #{$transition};
    transition: #{$transition};
  }
}

// Visibility
// --------------------------------------------------

@mixin hover {
  .discourse-no-touch & {
    &:hover {
      @content;
    }
  }
}

@mixin fades-in($time: 0.5s) {
  opacity: 0;
  visibility: hidden;
  .discourse-no-touch & {
    -webkit-transition: visibility 0s linear $time, opacity $time linear;
    -ms-transition: visibility 0s linear $time, opacity $time linear;
    transition: visibility 0s linear $time, opacity $time linear;
  }
}

@mixin fade-soft($time: 1s) {
  -webkit-transition: opacity $time ease-in-out;
  -ms-transition: opacity $time ease-in-out;
  transition: opacity $time ease-in-out;
}

@mixin visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

// Decorations
// --------------------------------------------------

// Glow

@mixin glow($color) {
  border: 1px solid $color;
  box-shadow: 0 0 5px $color;
}

//
// --------------------------------------------------

// Unselectable

@mixin unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
*/



div.comment-form, div.issue-form{
  //border: 1px solid green;
  //width: 330px;
  //padding: 18px 10px 10px 10px;
  position: relative;
  div.edit-bar{
    border: 1px solid yellow;
  }

  input[type=text]{
    display: block;
  }
  textarea{
    //width: 100%;
    height: 80px;
    max-height: 300px;
  }
  div.form_ctrls{
    position: relative;
    .char-ctr{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

div.attachment_form{
  input { display: block;}
  iframe{ display: none; }
  div.progress-bar{
    float: left;
    span{
      margin-left: 10px;
    }
  }
}

#reply-control {
  .toggle-preview, #draft-status, #image-uploading {
    position: absolute;
    bottom: -31px;
    margin-top: 0px;
  }
  .toggle-preview {
    right: 5px;
    text-decoration: underline;
  }
  #image-uploading {
    left: 51%;
    font-size: 12px;
    color: darken($gray, 40);
  }
  #draft-status {
    right: 51%;
    color: lighten($black, 60);
    &.flash {
      color: lighten($red, 20);
    }
  }
  //@include transition(height 0.4s ease);
  //width: 100%;
  z-index: 1039;
  height: 0px;
  background-color: rgba($composer_background, 0.96);
  bottom: 0px;
  font-size: 14px;
  position: fixed;
  .toggler {
    display: block;
    width: 13px;
    height: 13px;
    right: 30px;
    position: absolute;
    font-size: 15px;
    color: $darkish_gray;
    text-decoration: none;
    &:before {
      font-family: "FontAwesome";
      content: "\f078";
    }
  }
  a.cancel {
    text-decoration: underline;
    padding-left: 7px;
  }
  .control-row {
    margin: 0 0 0 5px;
  }
  .saving-text {
    display: none;
  }
  .draft-text {
    display: none;
  }
  .grippie {
    display: none;
  }
  // The various states
  &.open {
    height: auto;
    .grippie {
      display: block;
    }
  }
  &.closed {
    height: 0px !important;
  }
  &.draft {
    height: 40px !important;
    cursor: pointer;
    border-top: 1px solid $gray;
    .draft-text {
      display: block;
      p{margin: 10px;}
    }
    .post_form{
      display: none;
    }
    .toggler {
      &:before {
        font-family: "FontAwesome";
        content: "\f077";
      }
    }
  }
  &.saving {
    height: 40px !important;
    border-top: 1px solid $gray;
    .saving-text {
      display: block;
    }
    .toggler {
      &:before {
        font-family: "FontAwesome";
        content: "\f00d";
      }
    }
  }
  .spinner {
    position: absolute;
    //@include fades-in(0.25s);
    //@include border-radius-all(10px);
    left: 250px;
    top: 95px;
    height: 100px;
    width: 70px;
    height: 70px;
    text-indent: -9999em;
    background: {
      color: $black;
      image: image-url("spinner_96_w.gif");
      repeat: no-repeat;
      size: 35px;
      position: 17px 17px;
    };
  }
  &.loading {
    .spinner {
      z-index: 1000;
      //@include visible;
    }
  }
  .reply-area {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  // When the post is new (new topic) the sizings are different
  &.edit-title {
    &.open {
      height: auto;
    }
    .contents {
      input#reply-title {
        padding: 7px 10px;
        margin: 6px 10px 3px 0;
      }
      .wmd-controls {
        //@include transition(top 0.3s ease);
        top: 100px;
      }
    }
  }
  .contents {
    padding: 10px;
    //min-width: 1280px;
    /*
    .form-element {
      .chzn-container {
        width: 400px;
        margin-top: 6px;
        a {
          padding-top: 4px;
          height: 28px;
        }
        b {
          margin-top: 4px;
        }
      }
      .category-combobox {
        width: 430px;
        @include medium-width { width: 285px; }
        @include small-width { width: 220px; }

        .chzn-drop {
          left: -9000px;
          width: 428px;
          @include medium-width { width: 283px; }
          @include small-width { width: 218px; }
        }
        .chzn-search input {
          width: 378px;
          @include medium-width { width: 233px; }
          @include small-width { width: 168px; }
        }
      }
    }
    */
    #reply-title {
      margin-right: 10px;
      float: left;
      &:disabled {
        background-color: $light_gray;
      }
    }
    #wmd-input:disabled {
      background-color: $light_gray;
    }
    #wmd-input, #wmd-preview {
      color: $black;
      img {
        // Otherwise we get the wrong size in JS
        max-width: none;
        border-radius: 4px;
        moz-border-radius: 4px;
        webkit-border-radius: 4px;
        ms-border-radius: 4px;
      }
    }
    #wmd-preview {
      border: 1px dashed $gray;
      overflow: auto;
      visibility: visible;
      p {
        margin-top: 0;
      }
      &.hidden {
        width: 0;
        visibility: hidden;
      }
      img{
        max-height: 300px;
        max-width: 300px;
      }
    }
    #wmd-input {
      bottom: 35px;
    }
    //.submit-panel {
    //  position: absolute;
    //  top: 260px;
    //  left: 30px;
    //  right: 30px;
    //  bottom: 8px;
    //}
  }
  .title-input, .category-input {
    position: relative;
    display: inline;
  }
  .title-input .popup-tip {
    width: 300px;
    left: -8px;
    margin-top: 8px;
  }
  .category-input .popup-tip {
    width: 240px;
    left: 432px;
    top: -7px;
  }
}

.reply-to {
  margin-bottom: 10px;
}


div.ac-wrap {
  background-color: $white;
  border: 1px solid #cccccc;
  padding: 4px 10px;
  //@include border-radius-all(3px);
  div.item {
    float: left;
    margin-right: 10px;
    span {
      padding-left: 5px;
      height: 22px;
      display: inline-block;
      line-height: 22px;
      vertical-align: bottom;
    }
    a {
      margin-left: 4px;
      font-size: 10px;
      line-height: 10px;
      padding: 2px 1px 1px 3px;
      border-radius: 10px;
      width: 10px;
      display: inline-block;
      border: 1px solid rgba(255, 255, 255, 0);
      &:hover {
        background-color: lighten($red, 45);
        border: 1px solid lighten($red, 20);
        text-decoration: none;
        color: $white;
      }
    }
  }
  input[type="text"] {
    float: left;
    margin-top: 5px;
    border: 0;
    padding: 0;
    margin: 4px 0 0;
    box-shadow: none;
  }
}


#reply-control.edit-title.private-message {
  .wmd-controls {
    //include transition(top 0.3s ease);
    top: 140px;
  }
}

#reply-control {
  &.hide-preview {
    .wmd-controls {
      #wmd-input {
        width: 100%;
      }
      .preview-wrapper {
        display: none;
      }
      .textarea-wrapper {
        width: 100%;
      }
    }
  }
  .wmd-controls {
    //left: 30px;
    //right: 30px;
    //position: absolute;
    //top: 50px;
    //bottom: 48px;

    // this removes the topmost margin;
    // if we don't have this, all posts would have extra space at the top
    #wmd-preview > *:first-child {
      margin-top: 0px !important;
    }

    #wmd-input, #wmd-preview {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      height: 100%;
      min-height: 100%;
      padding: 7px;
      margin: 0;
      background-color: $white;
      word-wrap: break-word;

      // set up proper header margins in post preview
      h1, h2, h3, h4, h5, h6 {
        margin: 20px 0 10px;
      }
    }
    #wmd-input {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      min-height: 100%;
      box-sizing: border-box;
      border: 0;
      //include border-radius-all(0);
      transition: none;
    }
    .textarea-wrapper, .preview-wrapper {
      position: relative;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 100%;
      min-height: 100%;
      margin: 0;
      padding: 0;
      width: 50%;
    }
    .textarea-wrapper {
      padding-right: 5px;
      float: left;
      .popup-tip {
        margin-top: 3px;
        right: 4px;
      }
    }
    .preview-wrapper {
      padding-left: 5px;
      float: right;
    }
  }
  #wmd-button-bar {
    top: 0;
    position: absolute;
    border-bottom: 1px solid $inner_line;
    background-color: $white;
    z-index: 100;
  }
}


// Custom adjustments

#reply-control{
  //margin-left: -40px;
  &.add-an-issue-description{
    position: static;
    height: 240px;
    .reply-area{
      position: relative;
    }
    .contents{
      min-width: 600px;
    }
    .comment-form{
      height: 200px;
    }
    .toggler{
      display: none;
    }
    .wmd-controls{
      top: 10px;
      bottom: 10px;
    }
  }

}

#reply-control{
  &.unknown-user.open{
    height: auto;
    .comment-form{
      height: 200px;
    }
    div.not-signed-in{ display: block;}
  }
  &.non-participant-user.open{
    height: auto;
    .comment-form{
      height: 200px;
    }
    div.not-a-participant{ display: block;}
  }
  &.non-confirmed-user.open{
    height: auto;
    .comment-form{
      height: 200px;
    }
    div.not-confirmed{ display: block;}
  }
  label.confirm{
    font-weight: bold; margin-left: 20px; color: red;
  }

  h4.form_title{
    margin-left: 20px;
    float:left;
    margin-top: 5px;
  }
  input.tag_name{
    margin-left: 20px;
    float:left;
    margin-top: 5px;
  }
  select{
    font-weight: bold;
    margin-left: 6px;
    float:left;
  }
  div.form_errors{
    float: left;
    margin-left: 16px;
    p{
      margin: 0;
    }
  }

  div.not-signed-in{
    display: none;
    p.instr{ margin-bottom: 0; color: red}
    label{ display: inline; vertical-align: super;}
    input[type='checkbox']{
      font-size: 2em;
      margin-bottom: 14px;
      margin-left: 10px;
    }
  }
  div.not-a-participant{
    display: none;
    p.instr{ margin-bottom: 0; color: red}
    label{ display: inline; vertical-align: super;}
    input[type='checkbox']{
      font-size: 2em;
      margin-bottom: 14px;
      margin-left: 10px;
    }
  }
  div.not-confirmed{
    display: none;
    p.instr{ margin-bottom: 0; color: red}
    label{ display: inline; vertical-align: super;}
    input[type='checkbox']{
      font-size: 2em;
      margin-bottom: 14px;
      margin-left: 10px;
    }
  }
  div.buttons .status{
    position: absolute;
    display: block;
    right: 51%;
    bottom: 12px;
    opacity: .6;
  }
}

#mentions {
  top: 0px;
  left: 200px;
  z-index: 999999;
  position: absolute;
  //width: 240px;
  background-color: #fff;
  border: 1px solid #ccc;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
      li {
      border-bottom: 1px solid #eee;
      cursor: pointer;
      span.user_name{
        margin: 4px 16px 4px 0;
      }
      &:hover{
        background-color: #eeeeee;
      }
      &.selected{
        background-color: #eeeeee;
      }
      img{
        margin: 4px;
      }
    }
  }
}

input.tag_name{
  margin-left: 16px;
  color: black;
}
.comment-form{
  height: 140px;
}
.comment-form.short-form{
  height: 100px;
}
.table-comment-reason{
  //margin-top: 90px;
  margin-left: 0;
}

.vote-count{
  width: 50px;
}

.table-comment-controls{
  select{ width: auto;}
}
#reply-control .reasons{
  font-size: 1.4em;
  select{
    margin-left:0;
    line-height: 1.4em;
  }
  textarea{
    height: 60px;
    width: 600px;
    line-height: 1.4em;
  }

}

#reply-control .show_toolbar textarea{ padding-top: 36px !important; }


#reply-control{
  min-width: 800px  ;
  .comment-form.wmd-controls {
    //border: 1px solid red;
    clear: both;
    margin-bottom: 12px;
  }
  .extras-form {
    //border: 1px solid green;
    clear: both;
    p.add_reason{
      margin: -40px 0 16px 0px;
    }
    .highlight{
      background-color: #FDA0A3;
    }
    .delete{ color: red; font-size: 1.2em;}
  }
  .submit-panel {
    //border: 1px solid blue;
  }
  .control {
    //border: 1px solid orange;
  }
  div.spinner{
    display: none;
  }
}

