@mixin opacity($trans) {
  filter: alpha(opactiy=($trans * 100));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}


input.link_button, input.link_button:focus, input.link_button:active {
    /* Remove all decorations */
    border: none;
    display: inline;
    margin: 0em;
    padding: 0em;
    outline: none;
    outline-offset: 0em;
    /* Look like a link */
    background: none;
    color: blue;
    cursor: pointer;
    font: inherit;
    text-decoration: underline;
		margin-left: 14px;
}
/* Remove extra space inside buttons in Firefox */
input.link_button::-moz-focus-inner {
    border: none;
    padding: 0em;
}

div#messagesDiv{
	width: 400px;
	height: 200px;
	border: 1px solid black;
}

del{
  color: red;
}
ins{
  color: green;
}

div.attachment_form
  input { display: block;}


.slider {
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  background: rgb(10, 10, 10);
  border-radius: 5px;
  height: 20px;
  padding: 10px;
  position: relative;
}
.slider > span {
  background-color: #54f054 69%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2bc253 37%), to(#54f054 69%));
  background-image: -webkit-linear-gradient(#2bc253 37%, #54f054 69%);
  background-image: -moz-linear-gradient(#2bc253 37%, #54f054 69%);
  background-image: -ms-linear-gradient(#2bc253 37%, #54f054 69%);
  background-image: -o-linear-gradient(#2bc253 37%, #54f054 69%);
  background-image: linear-gradient(#2bc253 37%, #54f054 69%);
  -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3) \, inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3) \, inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3) \, inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  background-color: #2bc253;
  border-radius: 20px 8px 8px 20px;
  font-weight: bold;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
}

//canvas { border: 1px solid black; }

//div.rating-slider{
//  position: relative;
//  width: 350px;
//  height: 30px;
//  //border: 1px solid black;
//  div.handle {
//    width: 12px;
//    height: 30px;
//    margin-left: 50%;
//    background: image-url('slider-pointer.png') no-repeat 0 0
//  }
//  canvas{
//    position: absolute;
//    top: 5px;
//    left: 0%;
//  }
//}

$rating_width: 350px;
$rating_height: 40px;
$rating_handle_height: 18px;
.clear{
  clear: both;
}
div.rating{
  div.rating-slider{
    cursor: pointer;
    float: left;
    width: $rating_width + 15;
    padding: 2px;
    //border: 1px solid green;

    div.mouse-binding-box{
      position: relative;
      //border: 1px solid red;
      width: $rating_width;
      padding-left: 10px;
      padding-right: 10px;
      div.handle {
        width: $rating_handle_height;
        height: $rating_handle_height;
        position: absolute;
        top: $rating_height/2 - $rating_handle_height/2;
        left: 50%;
        //background-color: black;
        background: image-url('slider-star-pointer.png') no-repeat 0 0
      }
    }
  }
  .vote_count{
    float: left;
    margin-top: 4px;
    margin-left: 8px;
    div.count{
      font-weight: bold;
      font-size: 1.4em;
    }
    div.lbl{
      font-weight: normal;
      font-size: 1em;
    }
  }
}
div.comment-form{
  //border: 1px solid green;
  width: 330px;
  padding: 18px 10px 10px 10px;
  position: relative;
  div.edit-bar{
    border: 1px solid yellow;
  }

  input[type=text]{
    display: block;
  }
  textarea{
    width: 300px;
    height: 150px;
  }
  div.attachment_form{
    //border: 1px solid red;
    //position: absolute;
    //left: 10px;
    //top: 0px;
    float: left;
    width: 16px;
    height: 16px;
    form{
     // border: 1xp solid green;
      background: image-url('attachment16.gif') no-repeat 0 0;
      cursor: pointer;
      input{
        opacity: 0;
        width: 16px;
        height: 16px
      }
    }
    iframe{
      display: none;
      width: 300px;
      height: 100px;
      border: 1px solid red;
    }
  }
  div.progress-bar{
    float: left;
  }
}

div.attachments{
  div.attachment{
    position: relative;
    width: 68px;
    //border: 1px solid blue;
    float: left;
    margin: 0 10px 10px 0;
    img.icon{
      width: 50px;
      height: 50px;
      //border: 1px solid red;
    }
    img.delete{
      background: image-url('circle_x_sm.gif') no-repeat 0 0;
      position: absolute;
      top: 0;
      right: 0px;
      height: 16px;
      width: 16px;
      cursor: pointer;
    }
    p.name{
      line-height: .9;
      margin-top: 4px;
      font-size: .8em;
      word-wrap: break-word;
    }
  }

}
div.profile-photo-form{
  border: 1px solid green;
  padding: 10px;
  iframe{
    //display: none;
    width: 300px;
    height: 100px;
    border: 1px solid red;
  }
}

