@mixin opacity($trans) {
  filter: alpha(opactiy=($trans * 100));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}


input.link_button, input.link_button:focus, input.link_button:active {
    /* Remove all decorations */
    border: none;
    display: inline;
    margin: 0em;
    padding: 0em;
    outline: none;
    outline-offset: 0em;
    /* Look like a link */
    background: none;
    color: blue;
    cursor: pointer;
    font: inherit;
    text-decoration: underline;
		margin-left: 14px;
}
/* Remove extra space inside buttons in Firefox */
input.link_button::-moz-focus-inner {
    border: none;
    padding: 0em;
}

div#messagesDiv{
	width: 400px;
	height: 200px;
	border: 1px solid black;
}

del{
  color: red;
}
ins{
  color: green;
}

.hidden { display: none}

html > body{
  background-color: #eeeeee;
}

div.profile-photo-form{
  iframe{
    display: none;
  }
  div.progress-bar{
    float: left;
    span{
      margin-left: 10px;
    }
  }
}

.navbar-fixed-top{
  position: fixed;
  .navbar-inner{
    background: rgb(59,89,152);
    height: 30px;
    .user-bar{
      color: white;
      text-align: center;
      p.user-bar-links{
        a{color:white;}
      }
      div.ce-user-bar{
        position: relative;
        background-color: rgb(59,89,152);
        .logo{
          color: white;
          img{
            display: block;
            margin-top: 5px;
            float: left;
            cursor: pointer;
          }
          .tagline{
            float: left;
            margin: 6px 0 0 40px;
          }
        }

        div.user{
          position: absolute;
          top: 0;
          right: 0;
          margin-right: 20px;
          i{ color: white;}
          i:hover{
            color: red;
          }
        }
      }
    }
  }
}

.container{
  padding-left: 40px;
  padding-right: 40px;
  .content{
    margin-top: 40px;
  }
}

.row.test{
  div{
    height: 60px;
    background-color: #ccc;
  }
}

.slide-enter-active, .slide-leave-active {
  //.slide-enter, .slide-leave {
  //.slide-enter, .slide-leave, .slide-enter-active, .slide-leave-active {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
}

.slide-leave {
  opacity: 0;
  height: 0;
}
.slide-leave.slide-leave-active  {
  opacity: 0;
  height: 0;
}

.slide-enter {
  opacity: 0;
  height: 0;
}
.slide-enter.slide-enter-active {
  opacity: 1;
  height: 200px;
}

div.ani-slide{
  overflow: hidden;
  > div{
    min-height: 200px;
  }
}

.issue{
  > p{ font-style: italic;}
}

body.drag_in_process{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.warn{
  color: red;
  font-weight: bold;
}

.modal-form-ce form {margin: 0;}

div.alert{
  a{
    text-decoration: underline;
    cursor: pointer;
  }
}