input.link_button, input.link_button:focus, input.link_button:active {
    /* Remove all decorations */
    border: none;
    display: inline;
    margin: 0em;
    padding: 0em;
    outline: none;
    outline-offset: 0em;
    /* Look like a link */
    background: none;
    color: blue;
    cursor: pointer;
    font: inherit;
    text-decoration: underline;
		margin-left: 14px;
}
/* Remove extra space inside buttons in Firefox */
input.link_button::-moz-focus-inner {
    border: none;
    padding: 0em;
}

div#messagesDiv{
	width: 400px;
	height: 200px;
	border: 1px solid black;
}

del{
  color: red;
}
ins{
  color: green;
}

div.attachment_form
  input { display: block;}


.slider {
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  background: rgb(10, 10, 10);
  border-radius: 5px;
  height: 20px;
  padding: 10px;
  position: relative;
}
.slider > span {
  background-color: #54f054 69%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2bc253 37%), to(#54f054 69%));
  background-image: -webkit-linear-gradient(#2bc253 37%, #54f054 69%);
  background-image: -moz-linear-gradient(#2bc253 37%, #54f054 69%);
  background-image: -ms-linear-gradient(#2bc253 37%, #54f054 69%);
  background-image: -o-linear-gradient(#2bc253 37%, #54f054 69%);
  background-image: linear-gradient(#2bc253 37%, #54f054 69%);
  -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3) \, inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3) \, inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3) \, inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  background-color: #2bc253;
  border-radius: 20px 8px 8px 20px;
  font-weight: bold;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
}

//canvas { border: 1px solid black; }

//div.rating-slider{
//  position: relative;
//  width: 350px;
//  height: 30px;
//  //border: 1px solid black;
//  div.handle {
//    width: 12px;
//    height: 30px;
//    margin-left: 50%;
//    background: image-url('slider-pointer.png') no-repeat 0 0
//  }
//  canvas{
//    position: absolute;
//    top: 5px;
//    left: 0%;
//  }
//}


div.rating-slider{
  cursor: pointer;
  cursor: pointer;
  width: 360px;
  padding: 2px;

  div.mouse-binding-box{
    position: relative;
    //border: 1px solid red;
    width: 350px;
    padding-left: 10px;
    padding-right: 10px;
    canvas{
      margin-top: 6px;
    }
    div.handle {
      width: 12px;
      height: 30px;
      position: absolute;
      top: 0px;
      left: 50%;
      background-color: black;
    }
  }
}
div.results{
  canvas{
    margin-left: 12px;
  }
}
