.footer{
  a.edit{float:left; margin: 0 10px 0 0;}
  .tags{
    float: right;
    position: relative;
    .dropdown-menu{
      min-width: 0;
      right: 0;
      left: auto;
      a{
        margin-left: 0;
        float: none;
        padding: 3px 8px;
      }
      input[type='text']{
        width: 100px;
        margin-left: 8px;
      }
      button{margin-right: 8px; margin-bottom: 10px;}
      .no-wrap{white-space: nowrap;}
    }
  }
}

.conversation-theming{
  .comment-body-container .header{
    margin-bottom: 10px;
    p.table_name{
      float: left;
      margin-left: 0;
    }
  }
  ul.nav, div.tags{
    .popover-content{width: 220px;}
  }
}
ul.dropdown-menu form {margin: 8px 0 0 0;}

.live-group{
  #reply-control{
    //.preview-wrapper{display:none;}
    .wmd-controls #wmd-input{
      border:none;
      font-size: 1.4em;
    }
    .wmd-controls .textarea-wrapper{
      width: 60%;
      max-width: 600px;
    }
    .wmd-controls .preview-wrapper{
      width: 40%;
      max-width: 600px;
      #wmd-preview{
        background-color: #DCDFE0;
      }
    }
    .live-group-vote-insert{
      font-weight: bold;
      font-size: 1.2em;
      input{
        margin-left: 8px;
        margin-bottom: 8px;
        text-align: center;
        width: 40px;
        font-size: 1.4em;
      }
    }


  }
}

.live-group .nav#right-menu li{
  a{
    max-width: 150px;
    padding: 10px;
  }
  &.add_comment{
    margin-top: 50px;
  }
  &.label{
    margin-bottom: 10px;
  }
}

.live-themes{
  td{
    vertical-align: top;
    padding-bottom: 12px;
  }
  td.letter{
    font-weight: bold;
    font-size: 4em;
    line-height: 1em;
    padding-right: 16px;
  }
  td.live-theme{
    font-weight: bold;
    font-size: 2em;
    line-height: 1.4em;
    max-width: 700px;
  }
  blockquote{
    font-size: .7em;
  }
  &.no-ex{
    blockquote{
      display:none;
    }
  }
}
.live-choose-results{
  blockquote{
    display: none;
  }
}
.live-choice{
  td{
    min-width:  130px;
    padding: 20px 0;
  }
  td.box{
    border: 1px solid #aaaaaa;
    padding-left: 10px;
  }
  td.lbl {font-weight: bold; text-align: right; padding-right: 16px;}
  .btn.left{float:left;}
  .btn.right{float:right;}
  ul.dropdown-menu{
    //width: 40px !important;
    //max-width: 40px;
    li{
      //width: 40px;
    }
  }
}

.iap2{
  max-width: 650px;
  h3{line-height: 1.2em;}
  .links{margin-top:20px; }
  .public-links{margin-top: 30px;}
}

.content{
  box-shadow: none;
}

.theme-view{
  div.count{
    display: none;
  }
}

.live-choose-results{
  td{
    vertical-align: top;
    padding-bottom: 12px;
  }
  td.votes{
    font-weight: bold;
    font-size: 3em;
    line-height: 1em;
    padding-right: 16px;
  }
  td.percent{
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
    padding-top: 6px;
    padding-right: 16px;
  }
  td.live-theme{
    font-weight: bold;
    font-size: 2em;
    line-height: 1.4em;
    max-width: 700px;
  }
  blockquote{ display:none;}
}

.live-choose-results{
  .lighten{
    opacity: .4;
  }


}