.gridStyle {
  border: 1px solid rgb(212,212,212);
  #width: 400px;
  height: 800px;
}

.chkbx{
  float: left;
  margin-right: 10px;
}
#coord-mca-table{
  .mca-table-column-select{
    .fl{ float: left; margin-right: 3em;}
  }
  label{
    margin-left: .5em;
    //padding-left: 10px;
  }
    input.panel-weight{
    width: 30px;
  }
  button {margin-left: 16px;}
  span.pct{
    font-weight: bold;
    font-size: 1.4em;
  }
  .avg-row-green{
    background-color: green;
    color: #ffffff;
  }
  .averaged-row{
    color: green;
  }
  .variance{
    background-color: pink;
    font-weight: bold;
    color: black;
  }
  .exec-score{
    background-color: #fbeed5;
  }
  .panel-score{
    background-color: lightblue;
  }
  .total-score{
    background-color: blue;
    color: white;
    font-weight: bold;
  }
  .avg-row-green{
    .variance, .exec-score, .panel-score {
      color: black;
    }
    .total-score{
      color: white;
    }
  }
}

@media print{
  .csv-data-link-span, .mca-table-column-select{
    display: none !important
  }
}

.assign-project-dialog {
  padding: 16px;
  div.assigned-to{
    div{
      float: left;
      margin-right: 8px;
      margin-bottom: 8px;
      &.evaluator{
        border: 1px solid #808080;
        padding: 2px 4px;
        .name{
          margin-right: 6px;
        }
      }
    }
  }
}

.mca-detailed-report{
  table{min-width:600px;}
  table,td, th{ border: 1px solid black;}
  td{ text-align: left; vertical-align: top; padding:1em;}
  th{ text-align: center; vertical-align: middle; padding:0 1em;}
  textarea{
    width: 100%;
    height: 120px;
  }
  .action, .reason, .suggestion {width: 25%;}
  .inactive-form{ display: none; opacity: 0.2;}

  .tab-contents{
    padding: 1em;
    background-color: #f8f8f8;

    border: 1px solid #ccc;
    border-top: none;
    word-wrap: break-word;
    margin-bottom: 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    .title{margin-top: 0;}
    //h4 .rec-budget {-webkit-appearance: none; font-size: 18px; border: 1px solid #9C9C9C;}
    h4 .rec-budget {font-size: 18px; border: 1px solid #9C9C9C; margin-left: 1em;}
    h4.rec{margin: 1.5em 0 1em 0;}
    h5 {font-size: 1.12em; margin: 2em 0 1em 0;}
    .specific-action-form{
      border: 1px solid #ccc;
      word-wrap: break-word;
      margin-bottom: 20px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      padding: 1em;
      h5{ margin-top: 0em;}
      .instr{
        font-weight: bold;
        font-size: 1em;
      }
      .steps{ margin-left: 40px;}
      textarea {height: 60px; max-width: 500px;}
      .explain {font-weight: bold; margin-bottom: .2em;}
      .hide-textarea {display: none;}
      .obscure-textarea {opacity: .1;}
    }
    td.icons {width: 5em; padding-left: .5em; padding-right: .5em;}
    a.delete {
      color: red;
      margin-left: 1.5em;
    }
    a.edit{
      font-size: 1.2em;
    }
    h4.addt-level{
      margin-top: 80px;
    }
    .instr .instr-badge {font-size: 1.4em; margin-left: -40px;}
  }
  .mixed-recs{
    padding-left: 20px;
    margin-top: -20px;
    &.inc{ margin-bottom: 1em;}
  }
  .category{
    font-style: italic;
    line-height: 1.12em;
    margin-top: 1.5em;
    color: #808080;
  }
  .as-above, .fa-plus, .fa-minus{
    font-style: italic;
    color: #808080;
  }
  .nav-tabs>li.active>a { background-color: #f8f8f8;}
  /*
 * Tabs
 *
 * Tweaks to the Tabs.
 */

  .code .nav-tabs {
    border-bottom: 1px solid #ccc;
  }

  .code pre, .code code {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .code .nav-tabs>li.active>a, .code .nav-tabs>li.active>a:hover, .code .nav-tabs>li.active>a:focus {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
  }
}
.directions-vote{
  tr.title{
    background-color: green;
    color: white;
    font-weight: bold;
    td{ padding-left: 1em; }
  }
  tr.direction td{
    padding: 1em 1em 1em 0;

  }
  input{width: 30px; text-align: center;}
  .over-vote{
    input{
      border-color: red;
      color: red;
    }
  }
  th{ padding-left: .5em; padding-right: .5em;}
  .grp-votes{
    text-align: center;
  }

}
.inline-block{
  display: inline-block;
}
//.instr-badge{
//  display: inline-block;
//  min-width: 10px;
//  padding: 3px 7px;
//  font-size: 1em;
//  font-weight: bold;
//  color: #ffffff;
//  line-height: 1;
//  vertical-align: baseline;
//  white-space: nowrap;
//  text-align: center;
//  background-color: #468847;
//  border-radius: 1em;
//}