.gridStyle {
  border: 1px solid rgb(212,212,212);
  #width: 400px;
  height: 800px;
}

.avg-row-green{
  background-color: green;
  color: #ffffff;
}

.averaged-row{
  color: green;
}

.chkbx{
  float: left;
  margin-right: 10px;
}
#coord-mca-table{
  label{
    margin-left: 10px;
    padding-left: 10px;
  }
    input.panel-weight{
    width: 30px;
  }
  button {margin-left: 16px;}
  span.pct{
    font-weight: bold;
    font-size: 1.4em;
  }
}