.stripe{
  background-color: lightblue;
}
.live-allocate-results{
  .graph{
    .theme{ height: 1.4em; background-color: #D0DBFF;}
    .text {margin: -1.4em 0 0 .2em;}
    td.option{text-align: left;}
  }
}
.row{
  width: 100%;

}

.delib-title{
  color: #1057AA;
  margin: .5em 0;
}
.type-section{
  margin-bottom: 40px;
}
.comment-type-title{
  page-break-after: avoid;
}

.additional-suggestions{
  page-break-inside: avoid;
}

.table_comment{
  page-break-inside: avoid;
  .body {
    font-size: 1.2em;
    margin: 8px 0;
    padding: 8px;
    background-color: lightcyan;
    -moz-border-radius: 15px;
    border-radius: 6px;
    position: relative;
  }
  .arrow {
    position: absolute;
    bottom: -24px;
    left: 4px;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top-color: lightcyan;
  }

  .reasons{
    .hdr{ font-weight: normal; margin: 4px 0; font-style: italic;}
    ul{
      margin: 0;
      li{margin-left: 20px;}
    }
    .reason{
      margin: 4px 0;
      .type{ font-style: italic; font-weight: bold;}
    }
  }

  .footer{
    margin-left: 20px;
  }
  margin-bottom: 20px;
}