#create-conversation-wizard{
  position: fixed;
  top: 300px;
  left: 300px;
  display: block;
  padding: 1em;
  z-index: 1000;
  -o-transition:  all 800ms;
  -moz-transition:  all 800ms;
  -webkit-transition:  all 800ms;
  transition: all 800ms;


  div.wizard-navigation{
    i{
      font-weight: bold;
      font-size: 1.2em;
      cursor: pointer;
    }
    > div{
      white-space: nowrap;
    }
  }

}

.conversation{
  .right-bar{
    position: relative;
    height: 100%;
    .schedule{
      font-weight: bold;
      margin: 0 0 20px 20px;
      span{
        display: block;
        font-size: 1.6em;
        text-align: center;
      }
    }
    .selected{
      font-weight: bold;
    }
    #right-bar-menu{
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 600px;

      background-color: beige;
      z-index: 20;
      li{
        list-style-type: none;
      }
    }
    #right-bar-panel{
      position: absolute;
      top: 0px;
      height: 600px;
      width: 500px;
      z-index: 1;
      border: 2px solid #ccc;
      background-color: white;
      padding: 0px 220px 20px 20px;
      &.active{
        //background-color: #ccc;
        right: 0;
      }
      &.inactive{
        //background-color: #999;
        right: 0;
      }
    }

  }
}

.fade-hide, .fade-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
}

.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}

.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}

.slide-show,
.slide-hide
{
  -webkit-transition: 10375ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 10375ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 10375ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 10375ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 10375ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.slide-show {
  left: 0;
}
.slide-show.slide-show-active {
  right: 0;
}

.slide-hide {
  right: 0;
}
.slide-hide.slide-hide-active{
  left: 0;
}

h3.panel-title{ font-size: 1.2em; }


div.radio-options{
  fieldset { overflow:hidden; margin-bottom: 1em;}
  p.title{ font-weight: bold; margin-bottom: .2em;}
  p{white-space: nowrap;}
  //.some-class { float:left; clear:none; }
  label { float:left; clear:none; display:block; padding: 0; margin-left: .6em;}
  input[type=radio], input.radio { float:left; clear:none; margin: 2px 0 0 2px; }
}

div.panel{
  fieldset { overflow:hidden; margin-bottom: 1em;}
  p.title{ font-weight: bold; margin-bottom: .2em;}

  div.status{
    font-weight: bold;
    float: left;
    margin-left: 1em;
  }
  button{
    float: left;
    margin-right: 1em;
  }
  button.close{
    float: right;
  }
}

div.tags-panel{
  div.tags{
    border: 1px solid grey;
    padding: 4px;
  }
  div.tag{
    float: left;
    white-space: nowrap;
    border: 1px solid grey;
    padding: 4px 20px 4px 4px;
    position: relative;
    margin: 0 8px 8px 0;
    button{
      position: absolute;
      right: -16px;
      top: 0;
    }
  }
  input{
    margin: 4px 0;
    border: 0 !important;
    box-shadow: none;
    outline: none;
    width: 235px;
  }

}

div.schedule-panel{
  h4{margin-bottom: 0;}
  div.set{margin-bottom: 40px; clear: both;}
  div.date{
    float: left;
    cursor: pointer;
    margin-right: 20px;
    padding-top: 36px;
  }
  div.time{
    float: left;
    margin-left: 60px;
  }
  input.span1{
    width: 40px;
  }
}