/* CSS for sortable test */

.test{
  .group{
    border: 1 px solid blue;
    padding: 20px;
    .item{
      border: 1px solid red;
      height: 60px;
      width: 160px;
      //margin-bottom: 20px;
    }
  }

}


/*
    * the setup class (the class without the active suffix)
    is is where you define the transition code and where
    you define any initialization styles for your animation.

    * the active class (the class with the -active suffix)
    is where the animation occurs. So setup any of the
    styles that you wish to animate. Also note that you must include both
    classes together so that the animation styles are not conflicting with
    the setup styles (this avoids any CSS-specificity issues).
*/

/*
.fade-hide, .fade-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
}

.fade-hide {
  opacity: 1;
  //line-height: 100%;
  height: 200px;
  //background-color: red;
}
.fade-hide.fade-hide-active  {
  opacity: 0;
  //line-height: 0;
  height: 0;
  //background-color: blue;
}

.fade-show {
  opacity: 0;
  //line-height: 0;
  height: 0;
  //background-color: blue;
}
.fade-show.fade-show-active {
  opacity: 1;
  //line-height: 100%;
  height: 200px;
  //background-color: red;
}

div.ani-div{
  //height: 200px;
  //border: 1px solid red;
  overflow: hidden;
  > div{
    //border: 1px solid green;
    min-height: 200px;
    //width: 200px;
    //background-color: blue;
    //overflow: hidden;
  }
}
*/

