.footer{
  a.edit{float:left; margin: 0 10px 0 0;}
  .tags{
    float: right;
    position: relative;
    .dropdown-menu{
      min-width: 0;
      right: 0;
      left: auto;
      a{
        margin-left: 0;
        float: none;
        padding: 3px 8px;
      }
      input[type='text']{
        width: 100px;
        margin-left: 8px;
      }
      button{margin-right: 8px; margin-bottom: 10px;}
      .no-wrap{white-space: nowrap;}
    }
  }
}

.conversation-theming{
  .comment-body-container .header{
    margin-bottom: 10px;
    p.table_name{
      float: left;
      margin-left: 0;
    }
  }
  ul.nav, div.tags{
    .popover-content{width: 220px;}
  }
}