%div.tags.ce-options-admin
  %div(ng-if="!control.edit_mode")
    %div(ng-if="conversation.details[key] && conversation.details[key].length>0")
      %ul
        %li(ng-repeat="option in conversation.details[key]")
          {{option}}
      %a(ng-click="edit_list()") Edit options
    %div(ng-if="!conversation.details[key] || conversation.details[key].length==0")
      %a(ng-click="edit_list()") Add options

  %div(ng-if="control.edit_mode")
    %textarea.edit-options(ng-model="control.options_list"){placeholder: "Add a list of options"}
    %div
      %a(ng-click="save_edit_list()") Save
      %a(ng-click="cancel_edit_list()") Cancel
