#home
  %h1 Think together
  %h1 To act together

  %a.btn-primary.btn.btn-lg{href: "/#/conversations"} Online Conversations
  %a.btn-success.btn.btn-lg{href: "/#/events"} In-person events

  %h3 View our video about CivicEvolution used in 21st Century Town Meetings

  %iframe{allowfullscreen: "", frameborder: "0", height: "720", src: "//www.youtube.com/embed/ts0ohUWJDqY?rel=0&yt:cc=on", width: "960"}

