.directions-vote


  -#%div
    Report mode:
    %div(btn-switch ng-model="view.report_mode" code="agenda.code" key="'list'" func="toggle_report_mode(code,key,value)")

    Report mode: {{page_options.mode}}



  %div(ng-switch="page_options.mode")

    %div(ng-switch-when="view_one_service")
      %div(ng-repeat="option in direction_options | filter: {id: page_options.plenary_id}" )
        %h4 View re-examined votes on {{option.title}}

        %table(border="1")
          %tr
            %th Budget direction
            %th(ng-repeat="n in [1,2,3,4,5,6]")
              Grp {{n}}
              .voter_cnt ({{group_voters[n] || 0}})
            %th %
            %th Status

          %tr.title
            %td(colspan="10") {{option.title}}
          %tr.direction(ng-repeat="direction_option in option.direction_options")
            %td {{direction_option.title}}
            %td.grp-votes(ng-repeat="vote in direction_option.all_votes track by $index") {{vote}}
            %td {{direction_option.percent}}%
            %td {{direction_option.status}}
          %tr.nav-btns
            %td
              %button.btn.btn-primary.btn-xs(ng-click="show_plenary_page(-1)")
                %i.fa.fa-angle-left
                Previous
            %td(colspan="8")
              %button.btn.btn-primary.btn-xs(ng-click="show_plenary_page()")
                Full list
                %i.fa.fa-angle-up
              %button.btn.btn-primary.btn-xs.right(ng-click="show_plenary_page(1)")
                Next
                %i.fa.fa-angle-right


    %div(ng-switch-when="vote_one_service")
      %div(ng-repeat="option in direction_options | filter: {id: page_options.plenary_id}" )
        %h4 Re-examine votes on {{option.title}}
        -#%p
          %b Please enter the # of voters at your table
          %input(ng-model="page_options.num_voters" value="5")

        %table
          %tr.title
            %td(colspan="2") {{option.title}}
          %tr.direction(ng-repeat="direction_option in option.direction_options" ng-class="{'over-vote': option.over_vote}")
            %td
              %input(ng-model="direction_option.pro_votes" ng-change="on_change()" ng-disabled="!page_options.num_voters")
            %td {{direction_option.title}}

          %tr
            %td(colspan="2")
              %div.buttons
                %span(ng-if="newComment.id == null")
                  %button.btn-primary.btn(ng-disabled="form_disabled" ng-click="confirm_votes()"){type: 'submit'}
                    %span.def-msg Confirm votes
                    %span.busy-msg
                      Confirming
                      %i.fa.fa-spinner.fa-spin



    %div(ng-switch-when="vote_actions_suggestions")
      %h4 Vote on actions and suggestions to be included in report

      %table(border="1")
        %tr(ng-repeat-start="option in vote_actions_options" )
          %td {{option.title}}
          %td {{option.budget_title}}
          %td {{option.percent}}%
          %td {{option.status}}
          %td
            %button.btn.btn-primary.btn-xs(ng-click="show_plenary_page(0)") Vote Actions
        %tr(ng-repeat="action in option.actions")
          %td
            %b Action
          %td {{action.increase}}
          %td {{action.decrease}}
          %td {{action.reason}}

        %tr(ng-repeat-end ng-repeat="suggestion in option.suggestions")
          %td
            %b Suggestion
          %td {{suggestion.text}}




    %div(ng-switch-when="view_actions_suggestions")
      %div(ng-repeat="option in direction_options | filter: {id: page_options.plenary_id}" )
        %h4 Review actions and suggestions for {{option.title}}

        %table
          %tr.title
            %td(colspan="2") {{option.title}}
          %tr.direction(ng-repeat="direction_option in option.direction_options" ng-class="{'over-vote': option.over_vote}")
            %td
              %input(ng-model="direction_option.pro_votes" ng-change="on_change()" ng-disabled="!page_options.num_voters")
            %td {{direction_option.title}}

          %tr
            %td(colspan="2")
              %div.buttons
                %span(ng-if="newComment.id == null")
                  %button.btn-primary.btn(ng-disabled="form_disabled" ng-click="confirm_votes()"){type: 'submit'}
                    %span.def-msg Confirm votes
                    %span.busy-msg
                      Confirming
                      %i.fa.fa-spinner.fa-spin




    %div(ng-switch-when="list_all_votes")

      %h4 List all group votes with live update

      %table(border="1")
        %tr
          %th Budget direction
          %th(ng-repeat="n in [1,2,3,4,5,6]")
            Grp {{n}}
            .voter_cnt ({{group_voters[n] || 0}})
          %th %
          %th Status
          %th

        %tr.title(ng-repeat-start="option in direction_options")
          %td(colspan="10") {{option.title}}
        %tr.direction(ng-repeat-end ng-repeat="direction_option in option.direction_options")
          %td {{direction_option.title}}
          %td.grp-votes(ng-repeat="vote in direction_option.all_votes track by $index") {{vote}}
          %td {{direction_option.percent}}%
          %td {{direction_option.status}}
          %td
            %button.btn.btn-primary.btn-xs(ng-click="show_plenary_page(0)") Plenary




    %div(ng-switch-when="enter_all_votes")
      %h4 Enter Budget Direction Votes for your Group

      %p
        %b Please enter the # of voters at your table
        %input(ng-model="page_options.num_voters" ng-change="set_group_voters()")

      %table
        %tr.title(ng-repeat-start="option in direction_options")
          %td(colspan="2") {{option.title}}
        %tr.direction(ng-repeat-end ng-repeat="direction_option in option.direction_options" ng-class="{'over-vote': option.over_vote}")
          %td
            %input(ng-model="direction_option.pro_votes" ng-change="on_change()" ng-disabled="!page_options.num_voters")
          %td {{direction_option.title}}

        %tr
          %td(colspan="2")
            %div.buttons
              %span(ng-if="newComment.id == null")
                %button.btn-primary.btn(ng-disabled="form_disabled" ng-click="confirm_votes()"){type: 'submit'}
                  %span.def-msg Confirm votes
                  %span.busy-msg
                    Confirming
                    %i.fa.fa-spinner.fa-spin

    %div(ng-switch-when="unknown")
      %h3 Please standby while the page loads