.directions-vote


  -#%div
    Report mode:
    %div(btn-switch ng-model="view.report_mode" code="agenda.code" key="'list'" func="toggle_report_mode(code,key,value)")

    Report mode: {{direction_options.mode}}



  %div(ng-switch="direction_options.mode")
    %div(ng-switch-when="list_all_votes")

      %h4 List all group votes with live update

      %table(border="1")
        %tr
          %th Budget direction
          %th Grp 1
          %th Grp 2
          %th Grp 3
          %th Grp 4
          %th Grp 5
          %th Grp 6
          %th Grp 7
          %th Grp 8
          %th Status

        %tr.title(ng-repeat-start="option in direction_options")
          %td(colspan="10") {{option.title}}
        %tr.direction(ng-repeat-end ng-repeat="direction_option in option.direction_options")
          %td {{direction_option.title}}
          %td.grp-votes(ng-repeat="vote in direction_option.all_votes track by $index") {{vote}}
          %td {{direction_option.status}}




    %div(ng-switch-when="enter_all_votes")
      %h4 Enter Budget Direction Votes for your Group

      %p
        %b Please enter the # of voters at your table
        %input(ng-model="direction_options.num_voters" value="5")

      %table
        %tr.title(ng-repeat-start="option in direction_options")
          %td(colspan="2") {{option.title}}
        %tr.direction(ng-repeat-end ng-repeat="direction_option in option.direction_options" ng-class="{'over-vote': option.over_vote}")
          %td
            %input(ng-model="direction_option.pro_votes" ng-change="on_change()" Xng-blur="on_blur()" ng-disabled="!direction_options.num_voters")
          %td {{direction_option.title}}

        %tr
          %td(colspan="2")
            %div.buttons
              %span(ng-if="newComment.id == null")
                %button.btn-primary.btn(ng-disabled="form_disabled" ng-click="confirm_votes()"){type: 'submit'}
                  %span.def-msg Confirm votes
                  %span.busy-msg
                    Confirming
                    %i.fa.fa-spinner.fa-spin

    %div(ng-switch-when="unknown")
      %h3 Please standby while the page loads