%div
  %h4 Services Links
  %ul
    %li(ng-repeat="service in report_data.options")
      %a(ng-click="show_service(service.id)") {{service.title}}

  %h4 Services Report
  %table
    %tr
      -#%th Service Name
      %th Service Name
      -#%th Budget Direction
      %th Budget Direction
      %th Specific Actions
      %th Reason/Suggestion/Comment
      %th Vote
    %tr(ng-repeat="row in report")
      -#%td
        .category {{row.category}}
        %a(ng-click="show_service(row.service_id)")
          {{row.service_title}}
        -#%a(href="/#/mca/{{report_data.id}}/detailed-report/{{row.service_id}}") link
      %td
        .category {{row.cat}}
        %a(ng-click="show_service(row.service_id)")
          {{row.title}}
        -#%a(href="/#/mca/{{report_data.id}}/detailed-report/{{row.service_id}}") link
      -#%td {{row.level}}
      %td {{row.level_r}}
      %td(ng-switch="row.specific_action.form")
        %div(ng-switch-when="mix")
          %div
            %i.fa.fa-plus
            %div.mixed-recs.inc
              {{row.specific_action.increase}}
          %div
            %i.fa.fa-minus
            %div.mixed-recs
              {{row.specific_action.decrease}}
        %span(ng-switch-when="more") {{row.specific_action.increase}}
        %span(ng-switch-when="less") {{row.specific_action.decrease}}

      %td(ng-switch="row.suggestion.form")
        %span(ng-switch-when="suggestion") {{row.suggestion.text}}
        %span(ng-switch-else) {{row.specific_action.reason}}

      %td
