:sass
  .header
    width: 100%
    height: 40px
    padding: 10px
    background-color: rgb(59,89,152)

%div.header
  %img{src: path_to_asset("ce-white-blue-20.gif") }

%h3
  Thanks for following us at CivicEvolution.org

%p We will let you know when the our new version is ready