.live-themes
  - header = @conversation.details['report_header'] || @theme_data[:title]
  %h3.delib-title
    :markdown
      #{header}

  %table
    - @theme_data[:themes].each do |theme|
      - if theme[:published]
        %tr
          %td.letter= theme[:letter]
          %td.live-theme
            %p= theme[:text].gsub(/\[quote.*\/quote\]/m,'')

