!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= @issue.try{|issue| issue.title} || ( content_for?(:title) ? yield(:title) : 'CivicEvolution')
    %meta{:content => content_for?(:description) ? yield(:description) : "Ce2", :name => "description"}
    -#= stylesheet_link_tag "application", :media => "all"
    -#= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :media => "all"
    = stylesheet_link_tag "pdf", :media => "all"

  %body
    %h3 CivicEvolution report
    = yield